<!-- START template: amigo_common_repeats_gps.tmpl -->
<!-- message = [% message %] -->
<!-- set_hash = [% set_hash %] -->
<!-- session_id = [% session_id %] -->
<!-- session_id_for_url = [% session_id_for_url %] -->

<div class="block">
  <h2><span class="error_text">[% message %]</span></h2>

  <p>
    The following gene products were found under multiple species or had an ambiguous identifier. You may use the database filters or a more specific identifier to remove them from the calculations.
  </p>

  <table summary="Inputted gene product labels found under multiple species or having ambiguous identifiers.">
    [% eo = 0 %]
    [% FOREACH pair IN set_hash.pairs %]
    [%    IF eo % 2 == 0 %]
    <tr class="even_row">
      [%    ELSE %]
    <tr class="even_odd">
      [%    END %]
      <td rowspan="1">
	<!--
	<a href="search.cgi?action=new-search&search_constraint=gp&search_query=[% mgps %]&amp;[% session_id_for_url %]" title="Search for [% mgps %] in AmiGO">[% mgps %]</a>
	-->
	<a href="search.cgi?action=new-search&search_constraint=gp&search_query=[% pair.key %]&amp;[% session_id_for_url %]"
	   title="Search AmiGO for [% pair.key %]">[% pair.key %]</a>
	(
	[% FOREACH sub_pair IN pair.value %]
	[%    full_db_acc = sub_pair.value _ ":" _  sub_pair.key %]
	<a href="gp-details.cgi?gp=[% full_db_acc %]&amp;[% session_id_for_url %]"
	   title="Search AmiGO for [% full_db_acc %]">[% full_db_acc %]</a>
	[% END %]
	)
      </td>
    </tr>
    [%    eo = eo + 1 %]
    [% END %]
  </table>

  <p class="toTop">
    <a href="#top" title="Back to the top of the page">Back to top</a>
  </p>
  
</div>
<!-- END template: amigo_common_repeats.tmpl -->
