<!-- START template: amigo_common_header.tmpl
-->
   <div id="header">
<!--
      <a class="logo floatR" href="go.cgi">
	<img src="/amigo/images/logo-sm.png"
	     alt="AmiGO logo"
	     title="Map2Slim"></a>
-->
      <h1 id="top">
	<a href="http://www.geneontology.org/"
	   title="Gene Ontology website">the Gene Ontology</a>
      </h1>
    </div>

    <div class="clearall"></div>
<!-- END template: amigo_common_header.tmpl -->
