<div class="block">
	<h2>Query Summary</h2>
[% IF !n_seqs;
		n_seqs = n_pages;
	END %]
	<p>
		Your job contains [% n_seqs %] sequence[% IF n_seqs != 1 %]s[% END %].
	</p>
	<dl>
	<dt>Parameters</dt>
		<dd>Threshold: [% threshold %]</dd>
		<dd>Maximum number of alignments shown: [% maxhits %]</dd>
		<dd>BLAST filter: [% blast_filter %]</dd>
	</dl>
[% IF use_filters && use_filters == 1;
		INCLUDE filters.tmpl;
	END;
	IF page_name != 'blast_submit' && n_seqs > 1;
		INCLUDE paging.tmpl;
	END %]
</div>
