<!-- Begin: error.tmpl -->
<div>
<h2>Sorry, an error has occurred.</h2>
<p>We apologise for the inconvenience.</p>
<p>Please send the following information to gohelp@geneontology.org:</p>
<p>
[% error %]
</p>
</div>
<!-- End: error.tmpl -->
