[% goat = 1 %]
[% IF goat == 0 %]
		<div id="menuFilterForm">
			<form action="go.cgi">
				<div class="form">
				[% hidden_params = ['session_id', 'action', 'query', 'view', 'search_constraint'] %]
				<!-- draw_hidden_fields.tmpl -->[% INCLUDE draw_hidden_fields.tmpl %]
				<fieldset class="floatL"><legend>Gene Product Filters</legend>
					<div class="form_block floatL">
					[% sp_db_opt_id = 'bar-species_db' %]
					<!-- species_db_options.tmpl -->[% INCLUDE species_db_options.tmpl %]
					</div>
				</fieldset>
				<input class="button" type="submit" value="Set filters"> 
				</div>
			</form>
[% END %]
			<form action="go.cgi">
			[% hidden_params = ['session_id', 'query', 'view', 'search_constraint'] %]
			<!-- draw_hidden_fields.tmpl -->[% INCLUDE draw_hidden_fields.tmpl %]
			<input type="hidden" name="action" value="plus_node">
				<input type="hidden" name="taxid" value="all">
				<input type="hidden" name="species_db" value="all">
				<input type="hidden" name="ev_code" value="aca">
				<input type="hidden" name="ont" value="all">
				<input class="button" type="submit" value="Remove all filters"> 
			</form>
<!--			<hr class="clearL">
		</div>
-->
