<!-- START template: homolset_annotation2.tmpl -->
<!-- SYMBOL = [% SYMBOL %] -->
<!-- GRAPH_LINK_SVG = [% GRAPH_LINK_SVG %] -->
<!-- GRAPH_LINK_PNG = [% GRAPH_LINK_PNG %] -->
<!-- SUMMARY_LINK_MAIN = [% SUMMARY_LINK_MAIN %] -->
<!-- SUMMARY_LINK_DETAILED = [% SUMMARY_LINK_DETAILED %] -->
<!-- LOOKUP_FOR_TERM = [% LOOKUP_FOR_TERM %] -->
<!-- LOOKUP_FOR_ASSOC = [% LOOKUP_FOR_ASSOC %] -->
<!-- ORDERED_LIST_FOR_SPECIES = [% ORDERED_LIST_FOR_SPECIES %] -->
<!-- SEEN_SPECIES = [% SEEN_SPECIES %] -->
<!-- SEEN_SPECIES_BY_ONTOLOGY = [% SEEN_SPECIES_BY_ONTOLOGY %] -->
<!-- ONTOLOGIES = [% ONTOLOGIES %] -->
<!-- ONTOLOGIES_READABLE = [% ONTOLOGIES_READABLE %] -->
<!-- TERMS_BY_ONTOLOGY = [% TERMS_BY_ONTOLOGY %] -->

<div class="contents">

  <h1> Compare GO annotations for [% SYMBOL %] and its homologs</h1>

  <div class="block">

    <h2>Information</h2>

    <p>
      This page contains detailed 
      <a title="Top of summary"
	 href="[% SUMMARY_LINK_MAIN %]">homolog</a>
      information for [% SYMBOL %].
    </p>

    <h4>Visualizations:</h4>
    <p>	  
      You may view the infomation on this page <!-- in the AmiGO
      <a title="View in the AmiGO tree browser."
	 href="[% AMIGO_BROWSER_LINK %]">tree browser</a> or as --> in a

      <a title="static graphical view PNG" href="[% GRAPH_LINK_PNG %]">static</a>
      or
      <a title="interactive graphical view SVG" href="[% GRAPH_LINK_SVG %]">interactive</a>
      graphical representation.
      For more information about the interactive graphical view, including requirements, please see the AmiGO
      <a title="Reference Genome interactive graph documentation" href="http://wiki.geneontology.org/index.php/AmiGO_Manual:_RG_Graphical_View">documentation</a>.
      <br>
      <b>Caution</b>: The static image may be very large and
      inappropriate for viewing within a web browser.
    </p>

    <h4>Key:</h4>
    <p>
      <ul class="info_keys">
	<li>
	  An <span id="ev_e" style="border:1px solid #666666; background-color: [% STATUS_COLORS.exp %];">&nbsp;IDA, IGI, etc.&nbsp;</span> (experimental) label indicates that there is at least one annotation to the term with direct experimental evidence by the labeled evidence code. There may be other non-experimental annotations as well.
	</li>
	<li>
	An <span id="ev_p" style="border:1px solid #666666; background-color: [% STATUS_COLORS.good %];">&nbsp;ISS&nbsp;</span> label indicates that there are no annotations based on direct experimental data, and at least one annotation by sequence similarity (ISS). There may be other non-experimental and non-ISS annotations as well.
	</li>
	<li>
	  A text-only label indicates that there is an annotation to a term, but the evidence is neither of the above.
	</li>
	<li>
	  A <em>bold</em> entry indicates a direct annotation.
	</li>

	<li>A &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (blank) entry
	  indicates that no homolog has been identified for that
	  species at that term.</li>

    </p>
    
    <h4>Jump to:</h4>
    <p>
      <ul class="info_keys">
      [% FOREACH ont = ONTOLOGIES %]
      <li>
      <a title="Jump to [% ONTOLOGIES_READABLE.$ont %]"
	 href="#[% ont %]">[% ONTOLOGIES_READABLE.$ont %]</a>
      [%    FOREACH spec_id = ORDERED_LIST_FOR_SPECIES %]
      [%       IF SEEN_SPECIES_BY_ONTOLOGY.$ont.$spec_id %]
      <span style="border:1px solid #666666; background-color: [% LOOKUP_FOR_SPECIES.$spec_id.species_color %];">&nbsp;[% LOOKUP_FOR_SPECIES.$spec_id.species_name %]&nbsp;</span>
      [%       END %]
      [%    END %]
      </li>
      [% END %]
      </ul>
    </p>

    <h4>Order terms by:</h4>
    <p>
      <ul class="info_keys">
      [% FOREACH order = POSSIBLE_ORDERS.keys.sort %]
      <li>
      [%    IF order == ORDER %]
      [%       IF order == "information" %]
      information content
      [%       ELSE %]
      [%       ORDER %]
      [%       END %]
      [%    ELSE %]
      [%       IF order == "information" %]
      <a title="reorder using [% order %]"
	 href="[% POSSIBLE_ORDERS.$order %]">information content</a>
      [%       ELSE %]
      <a title="reorder using [% order %]"
	 href="[% POSSIBLE_ORDERS.$order %]">[% order %]</a>
      [%       END %]
      [%    END %]
      </li>
      [% END %]
      </ul>
    </p>

    <p>
      Ordering GO terms over information content is the amount of
      "surprise" for seeing an annotation to that term. This is
      discussed in more detail in the OBD documentation under
      <a title="Discussion of information content."
	 href="http://www.berkeleybop.org/obd/docs/org/obd/model/stats/SimilarityPair.html">Information Content Metrics</a>.
    </p>
  </div>

  <div class="block">

    <h2>Summary for [% SYMBOL %]</h2>

    [% FOREACH ont = ONTOLOGIES %]

    <h3 id="[% ont %]">[% ONTOLOGIES_READABLE.$ont %]</h3>
    <table>
      <thead>
	<!--	
	<tr>
	  <th colspan="2">GO</th>
	  <th colspan="12">Species</th>
	</tr>
	-->
	<tr>
	  <!--
	  <th>GO term</th>
	  <th>information</th>
	  -->
	  <th>GO Term</th>
	  <!-- <td style="border:1px solid #666666">Name</td> -->

	  [% FOREACH spec_id = ORDERED_LIST_FOR_SPECIES %]
	  [%    IF SEEN_SPECIES_BY_ONTOLOGY.$ont.$spec_id %]
	  <th style="border:1px solid #666666; background-color: [% LOOKUP_FOR_SPECIES.$spec_id.species_color %];">
	    [%  ELSE %]
	  <th>
	    [%  END %]
	    &nbsp;[% LOOKUP_FOR_SPECIES.$spec_id.species_name %]&nbsp;
	  </th>
	  [% END %]
	</tr>
      </thead>

      <tbody>
	[% eo = 0 %]
	[% FOREACH term_id = TERMS_BY_ONTOLOGY.$ont %]
	[%    IF eo % 2 == 0 %]
	<tr class="even_row">
	  [%  ELSE %]
	<tr class="odd_row">
	  [%  END %]
	  [%  eo = eo + 1 %]

	  <td>
	    [% LOOKUP_FOR_TERM.$term_id.name %]&nbsp;:  
	    <a href="[% LOOKUP_FOR_TERM.$term_id.term_link %]"
		title="Go to term details for [% term_id %]">[% term_id %]</a>
	  </td>

	  <!--
	  <td>
	    [% INFORMATION_BY_TERM.$term_id %]
	  </td>
	  -->

	  [% FOREACH spec_id = ORDERED_LIST_FOR_SPECIES %]
	  [%   terms = LOOKUP_FOR_ASSOC.$term_id %]
	  [%   assocs = terms.$spec_id %]
	  <td title="[% LOOKUP_FOR_SPECIES.$spec_id.species_name %]">
	  [%   IF ! assocs %]
	    &nbsp;
	  [%   ELSE %]
	  [%      aid_hash = assocs %]
	  [% #      INCLUDE "html/inc/rg_gp_render_uniform.tmpl" %]
	  [% #     INCLUDE "html/inc/rg_gp_render_uniform_compact.tmpl" %]
	  [%      INCLUDE "html/inc/rg_gp_render_uniform_compact_ev.tmpl" %]
	  [%   END %]
          </td>
	[% END %]

      </tr>
      [% END %]
      </tbody>
    </table>

    [% END %]

  </div>

</div>

<!-- END template: homolset_annotation2.tmpl -->
