<!-- Start: nmatrix.tmpl -->

[% title = 'Matrix View' %]
[% INCLUDE html/inc/start_contents.tmpl %]

[% title = 'Matrix Inputs' %]
[% INCLUDE html/inc/start_block.tmpl %]

[% mode = 'nmatrix' %]
[% servive = 'amigo_exp' %]
[% INCLUDE html/inc/start_form.tmpl %]

<table>
  <tr>
    <td style="float:left">
      Axis 1:<br />
      [% variable = 'term_set_1' %]
      [% contents = term_set_1_text %]
      [% rows = 5 %]
      [% INCLUDE html/inc/textarea.tmpl %]
    </td>
    <td style="float:left">
      Axis 2:<br />
      [% variable = 'term_set_2' %]
      [% contents = term_set_2_text %]
      [% rows = 5 %]
      [% INCLUDE html/inc/textarea.tmpl %]
    </td>
  </tr>
  <tr>
    <td>
      Axis 3 (optional):<br />
      [% variable = 'term_set_3' %]
      [% contents = term_set_3_text %]
      [% rows = 5 %]
      [% INCLUDE html/inc/textarea.tmpl %]
    </td>
    <td>
    </td>
  </tr>
</table>

<div>
Select species
<br />
[% variable = 'species' %]
[% hash = species_hash %]
[% selected = species_selected %]
[% catch_all = '' %]
[% INCLUDE html/inc/drop.tmpl %]
</div>

<div>
[% title = 'Select relations' %]
[% name = 'graph_type' %]
[% list = graph_type_list %]
[% selected = graph_type_selected %]
[% INCLUDE html/inc/radio.tmpl %]
</div>

[% INCLUDE html/inc/end_form.tmpl %]

[% IF matrix %]

[% title = 'Results' %]
[% INCLUDE html/inc/start_block.tmpl %]

[% IF axis_3_list.size == 0 %]
<!-- Process results as 2d -->
[%    INCLUDE html/main/nmatrix_results_2d.tmpl %]
[% ELSE %]
<!-- Process results as 3d -->
[%    INCLUDE html/main/nmatrix_results_3d.tmpl %]
[% END %]

[% INCLUDE html/inc/end_generic.tmpl %]

<div>
  Go to
  <a title="Jump to the workspace"
     href="amigo_exp?mode=workspace_client">workspaces</a>
  <br />
  <input type="checkbox"
	 checked=""
	 id="cart-chooser-p"
	 value="checked"
	 name="cart-short-circut-name"
	 class="textBox"/>
  <label for="cart-short-circut-name">Use last cart</label>
</div>

[% END %]

[% INCLUDE html/inc/end_generic.tmpl %]

[% INCLUDE html/inc/end_generic.tmpl %]

</div>

<!-- End: nmatrix.tmpl -->
