<!-- START: phylotree_cluster.tmpl -->

<img src="[% cluster.dist %]" width="100%" alt="[Cluster Distribution]" />




<div class="contents">

<div class="filters">

<h4>1. Panthr Family ID</h4>
<dd>[% cluster.dbname %]::[% cluster.key %][% IF viz_link %]&nbsp;&nbsp;<a title="View the interactive tree page" href="[% viz_link %]"><img src=[% viz_img %] /></a>[% END %]</dd>

<h4>2. Date selected for concurrent annotation</h4>
<p>Not in DB</p>

[% IF paint_ajax %]
<script type="text/javascript">
jQuery(document).ready(function(){
 $('#paint').click(function(){
  $(this).load('[% paint_ajax %]');
  return false;
 });
});
</script>
<h4>3. Paint Files</h4>
<ul id="paint"><li><a href="#">Check <acronym>PAINT</acronym> files.</a></li></ul>
[% END %]

<h4>4. Number of members</h4>
<p>[% cluster.number_of_members %]</h4>

<h4>5. Number Of RefG Members</h4>
<p>[% cluster.number_of_refg_members %]</p>

<h4>6. Number of members with EXP</h4>
<p>[% cluster.exp %]</p>

<h4>7. Date most recent members last annotated</h4>
<p>[% cluster.last_annotated %]</p>

<h4>8. 'Date comprehensively annotated' for groups that can provide this information</h4>
<p>Not in DB</p>




</div>

<style type="text/css">th{text-align:left}</style>
<table><caption>Members</caption><tr>
<th>gene_product.symbol</th>
<th>dbxref</th>
<th colspan="2">species</th>
</tr>[% FOREACH gene_product IN gene_products %]<tr>
<td><a title="Go to gene product details page for [% gene_product.symbol %]" href="[% gene_product.link %]">[% gene_product.symbol %]</a></td>
<td>[% gene_product.dbxref %]</td>
<td[% IF gene_product.color %] style="color:[% gene_product.color %]">&#8251;[% ELSE %]>[% END %]</td>
<td>[% gene_product.species %]</td>
</tr>[% END %]</table>

<p><strong>&#8251;</strong> Reference Genome.</p>

</div>
<!-- END: phylotree_cluster.tmpl -->
