<div class="contents">

  <h1>AmiGO Tools and Resources</h1>

  <div class="block">

    <h2>Other Tools and Resources in AmiGO</h2>

    <p>
      <a href="http://berkeleybop.org/goose" title="GO Online SQL
      Environment: query the GO database directly">GOOSE</a> is the GO
      Online SQL Environment. Using this, users may query the GO
      database directly using SQL, or edit one of the already made
      templates.
    </p>

<!--
    <p>
      <a href="[% base %]/blast.cgi?session_id=[% session_id %]">BLAST</a>
sequence search is performed using either BLASTP or BLASTX (from the WU-BLAST package), depending on the type of the input sequence.
    </p>
-->
    
    <p>
      <a href="[% base %]/term_enrichment?session_id=[% session_id %]">Term Enrichment</a> finds significant shared GO terms or parents of those GO terms, used to describe the genes in the query/input set to help discover what those genes may have in common.
    </p>
    
    <p>
      <a href="[% base %]/slimmer?session_id=[% session_id %]">GO Slimmer</a> allows you to map the granular annotations of the query set of genes to one or more high-level, broader parent terms referred to as GO Slim terms.
    </p>
    
    <p>
      <a href="[% base %]/amigo?mode=visualize&amp;session_id=[%
      session_id %]">Visualization</a> of the GO graph. Freely make
      your own ontology graph, including label and color
      changes. Please see the documentation for
      more <a href="http://wiki.geneontology.org/index.php/AmiGO_Manual:_Visualize">details</a>.
    </p>
    
    <p>
      <a href="http://wiki.geneontology.org/index.php/AmiGO_Manual:_OpenSearch">OpenSearch</a> add-ons are now available for <a href="http://addons.mozilla.org" title="Firefox Add-ons">Firefox</a> and <a href="http://ieaddons.com" title="Internet Explorer Add-ons">Internet Explorer</a>, and a <a href="http://wiki.geneontology.org/index.php/AmiGO_Manual:_OpenSearch#Dashboard_Widget" title="GO Search Dashboard Widget">Dashboard Widget</a> for Mac OS X.
    </p>
    
    <p>
      <a href="[% base %]/amigo?mode=homolset_summary&amp;session_id=[% session_id %]">Homolog Set Summary</a> provides a table of homolog annotation links as well as homolog graphs.
    </p>
    
    <p>
      <a href="[% base %]/amigo?mode=live_search&amp;session_id=[% session_id %]">Live Search</a> quickly searches the GO as you type and allows you to use a powerful search syntax (including boolean operators).
    </p>
    
    <!--
    <p>
      A <a href="[% base %]/amigo?mode=report_1&amp;session_id=[% session_id %]">report</a> defined by Suzi for the Reference Genome.
    </p>
    -->
    
  [% IF BETA == 1 %]

    <h3>
      Example links to interesting features now appearing in <a href="http://www.geneontology.org/GO.refgenome.shtml">Reference Genome</a> project.
    </h3>

    <div>
    <ul>

      <li>
	<p>
	  <a href="[% base %]/amigo?mode=homolset_annotation&amp;set=1&amp;session_id=[% session_id %]">Homolog Set Details</a> (example for first homolset) provides a detailed view of a single homolog set.
	</p>
      </li>

      <li>
	<p>
	  <a href="[% base %]/amigo?mode=homolset_graph&amp;set=1&amp;format=svg&amp;session_id=[% session_id %]">Interactive Visualization</a> (example for first homolset) provides an interactive visualization of a single homolog set.
	</p>
      </li>

      <li>
	<p>
	  <a href="[% base %]/amigo?mode=homolset_graph&amp;set=1&amp;format=png&amp;session_id=[% session_id %]">Static Visualization</a> (example for first homolset) provides an static visualization of a single homolog set. <b>Warning:</b> images may be large and not appropriate for viewing within a web browser. Download and view with an image viewer.
	</p>
      </li>

    </ul>
    </div>

  [% END %]

  </div>

  [% IF BETA == 1 %]

  <div class="block">

    <h2>AmiGO Software in the Lab</h2>

    <h3>Beta features being tested and functional demos:</h3>

<!--     <p> -->
<!--       <a href="[% base %]/amigo_exp?mode=lexical_search&amp;session_id=[% session_id %]">Lexical Search</a> Simple search interface for the GO using a new Lucene-based system. -->
<!--     </p> -->
    
<!--     <p> -->
<!--       <a href="[% base %]/amigo_exp?mode=live_search_client&amp;session_id=[% session_id %]">Live Search</a> A more interactive search interface that highlights some of the advantages of a Lucene-based system. -->
<!--     </p> -->
    
    <p>
      <a href="[% base %]/amigo_exp?mode=heavy_client_jquery&amp;session_id=[% session_id %]">Lucene JQuery Search</a> experimentation with Lucene searches on the GO through the new JSAPI for with JQuery and JQuery UI as a GUI base.
    </p>
    
    <p>
      <a href="[% base %]/amigo_exp?mode=layers_graph">Graph
      Navigation</a> is a test of the OpenLayers mapping libraries
      applied to the GO. This version is run off of a live internal
      graphing system.
    </p>

    <p>
      <a href="[% base %]/amigo_exp?mode=workspace_client">Workspace</a> is a workspace and session system interface.
    </p>

    <p>
      <a href="[% base %]/amigo_exp?mode=nmatrix">N-Matrix</a> lets
      you view a two or three axis intersection of term
      annotations. This is a replacement for the deprecated "Matrix"
      tool. Please note that chaining is still not multi-dimensional.
    </p>
    
    <p>
      <a href="[% base %]/xp_term_request">Cross-product Term Request</a> pages. Allows user to request news terms for cross-products and receive temporary ids. 
    </p>
    
<!--     <p> -->
<!--       Note: the 2-d Matrix tool has been deprecated for the above version, which can be more generally applied, even if chaining does not work yet. -->
<!--       <a href="[% base %]/amigo_exp?mode=matrix">Matrix</a> -->
<!--       2-d view of terms. -->
<!--     </p> -->

  </div>
    
  <div class="block">

    <h2>AmiGO Software in the Garage</h2>

    <h3>Alpha features or proofs of concept:</h3>

    <p>
      <a href="[% base %]/phylotree">Phylotree</a> data using PANTHER (work in progress).
    </p>
    
    <p>
      <a href="[% base %]/amigo_exp?mode=ntree">Phylogenic Tree</a> browser in JavaScript (work in progress).
    </p>
    
    <p>
      <a href="[% base %]/amigo_exp?mode=gp_with_2_terms&amp;session_id=[% session_id %]">Coannotation</a> offers a way to view the shared associations of two terms. For example <a href="[% base %]/amigo_exp?mode=gp_with_2_terms&amp;terms=GO%3A0044255%0D%0AGO%3A0032787">GO:0044255 and GO:0032787</a>.
    </p>
        
    <p>
      <a href="[% base %]/amigo_exp?mode=autocomplete_client">Autocomplete</a>
      demonstrates autofilling a field leveraging the OpenSearch service.
    </p>
    
    <p>
      <a href="[% base %]/amigo_exp?mode=hierarchical&amp;session_id=[% session_id %]">Hierarchical</a> GO graph walker using jQuery.
    </p>
    
    <p>
      <a href="[% base %]/amigo_exp?mode=heavy_client_ext&amp;session_id=[% session_id %]">Client</a> using EXT JS as a base. Experiment halted due to
      probable incompatable licensing (GPL3+).
    </p>
    
<!--     <p> -->
<!--       <a href="http://localhost:8080">Continuations-based graph -->
<!--       browser</a> (only available if the experimental modules were -->
<!--       installed). It is currently implemented on top of a separate -->
<!--       server, which is likely not running right now. Again, likely -->
<!--       only installed on a dev's laptop. -->
<!--     </p> -->
        
    <p>
      <a href="[% base %]/amigo_exp?mode=exp_search&amp;session_id=[% session_id %]">Structured Search</a> of the GO using the new DBIx::Class system.
    </p>
    
    <p>
      <a href="http://localhost/qooxdoo/amigo2/source/index.html">Client</a>
      using qooxdoo as a base (likely only installed on a dev's laptop).
    </p>

    <p>
      <a href="[% base %]/amigo_exp?mode=scratch">Scratch</a> space
      for pieces not part of something else; a rotating guest list.
    </p>
    
    <p>
      <a href="http://localhost/cgi-bin/amigo2/amigo.cgi">Old</a>
      "AmiGO 2" mock-up site (likely only installed on a dev's
      laptop).
    </p>
    
    <p>
      Note: ART/ORB development has halted while the suitability of
      using GONUTS for the same service is being evaluated.
    </p>

    <p>
      Note: The continuations-based graph is no longer available due
      to implementation problems in perl.
    </p>

<!--     <p> -->
<!--       <a href="[% base %]/amigo_exp?mode=orb_client&amp;session_id=[% session_id %]">ORB Client</a> -->
<!--       communicates with mini-ORB, AKA ART. -->
<!--     </p> -->
    
<!--     <p> -->
<!--       <a href="[% base %]/amigo_exp?mode=orb&amp;session_id=[% session_id %]">ORB Server</a> -->
<!--       mini-ORB server, AKA ART. -->
<!--     </p> -->

  </div>
  <div class="block">

    <h2>AmiGO Replacements</h2>

    <h3>Prototype replacement versions of established software and workflows.</h3>

    <p>
      <a href="[% base %]/amigo_exp?mode=front_page">Front Page</a> (including mock-up of the with the autocompleter).</p>
    
    <p>
      <a href="[% base %]/amigo_exp?mode=homolset_summary">RG Summary</a> running live off of a partial cache.
    </p>
    
    <p>
      <a href="[% base %]/amigo?mode=term_details4">Term Details</a>
      <a href="[% base %]/amigo?mode=term_details4&term=GO:0022008">example</a>
    </p>
    
    <p>
      <a href="[% base %]/amigo?mode=term_details5">Term Details</a>
      <a href="[% base %]/amigo?mode=term_details5&term=GO:0022008">example</a>
      (fully tabbed prototype).
    </p>
    
  </div>
  <div class="block">

    <h2>AmiGO Testing</h2>

    <h3>Tests of AmiGO and self-tests in AmiGO.</h3>

    <p>
      <a href="[% base %]/page_test?mode=kappa_results">Kappa Results</a> the viewable results of the external AmiGO unit test suite.
    </p>    

  </div>
  [% END %]

</div>
