<!-- START template: live_search_bootstrap.tmpl -->    
[% YUI_INSERT %]
[% SERVER_TARGET %]
[% JS_SPECIES %]
[% JS_SOURCE %]
[% JS_GPTYPE %]
<script type="text/javascript"
        src="[% js_dir %]/LiveSearch.js"></script>
[% JS_INIT %]
<!-- END template: live_search_bootstrap.tmpl -->
