<!-- START template: orb_bootstrap.tmpl -->    
<link rel="stylesheet"
      title="standard"
      type="text/css"
      href="[% css_dir %]/orb_client.css" />

<script type="text/javascript"
        src="orb?request=jsapi">
</script>

<script type="text/javascript"
        src="[% js_dir %]/orb_client.js">
</script>
<!-- END template: orb_bootstrap.tmpl -->
