<!-- START template: rg_gp_render_uniform_compact.tmpl -->
<!-- aid_hash = [% aid_hash %] -->

[% aid_list = aid_hash.keys %]

[% ## TODO: Way more logic than I want in here, but if this works out, %]
[% ## we can do the information destruction earlier in the data stream. %]

[% ## First, compact all things down to a unique GP + direct/indirect (the later bit gives more clarity during merges as you go up the tree), and preserve non-ev. %]
[% ## GP link + direct/indirect is considered the key (symbols might not be unique, links had better be...). %]
[% compactor = {} %]
[% FOREACH aid = aid_list %]

[%    ## Variable collection. %]
[%    a_struct = aid_hash.$aid %]
[% #  key = a_struct.gene_product_link %]
[%    key = a_struct.gene_product_link _  a_struct.direct_p %]

[%    ## Make sure that a something exists... %]
[%    IF ! compactor.$key %]
[%       compactor.$key = {} %]
[% #      compactor.$key.aid = aid %]
[%       compactor.$key.gene_product_link = a_struct.gene_product_link %]
[%       compactor.$key.gene_product_symbol = a_struct.gene_product_symbol %]
[%       compactor.$key.gene_product_id = a_struct.gene_product_id %]
[%       compactor.$key.direct_p = 0 %]
[%       compactor.$key.has_exp_p = 0 %]
[%       compactor.$key.has_good_iss_p = 0 %]
[% #      compactor.$key.has_odd_iss_p = 0 %]
[% #      compactor.$key.has_non_p = 0 %]
[%       compactor.$key.exp_evidence = {} %]
[%       compactor.$key.good_iss_evidence = {} %]
[% #      compactor.$key.odd_iss_evidence = {} %]
[%    END %]

[%    ## Simplify the hash refrence... %]
[%    obj = compactor.$key %]

[%    IF a_struct.has_exp_p >= 1 %]
[%       obj.has_exp_p = 1 %]
[%    END %]

[%    IF a_struct.has_good_iss_p >= 1 %]
[%       obj.has_good_iss_p = 1 %]
[%    END %]

[% #   IF a_struct.has_odd_iss_p >= 1 %]
[% #      obj.has_odd_iss_p = 1 %]
[% #   END %]

[% #   IF a_struct.has_exp_p == 0 && a_struct.has_good_iss_p == 0 && a_struct.has_odd_iss_p == 0 %]
[% #      obj.has_non_p = 1 %]
[% #   END %]

[%    IF a_struct.direct_p >= 1 %]
[%       obj.direct_p = 1 %]
[%    END %]

[%    IF a_struct.exp_evidence %]
[%       FOREACH evc = a_struct.exp_evidence %]
[%          obj.exp_evidence.$evc = 1 %]
[%       END %]
[%    END %]
[%   IF a_struct.good_iss_evidence %]
[%      obj.good_iss_evidence = a_struct.good_iss_evidence %]
[%   END %]
[% #   IF a_struct.odd_iss_evidence %]
[% #      obj.odd_iss_evidence = a_struct.odd_iss_evidence %]
[% #   END %]

[% END %]


[% gp_list = compactor.keys %]
[% i = 1 %]
[% FOREACH key = gp_list %]
[%    gp_struct = compactor.$key %]

[%    ## Make evidence list. %]
[%    total_assoc_types = 0 %]
[%    ev_types = [] %]

[%    IF gp_struct.has_exp_p == 1 %]
[%       total_assoc_types = total_assoc_types + 1 %]
[%       exp_ev_codes = gp_struct.exp_evidence.keys.join(',&nbsp;') %]
[%       ev_types.push('<a href="#ev_e" title="Experimental evidence" style="border:1px solid #666666; background-color: ' _ STATUS_COLORS.exp _ ';">&nbsp;' _ exp_ev_codes _ '&nbsp;</a>') %]
[% #   END %]
[% #   IF gp_struct.has_good_iss_p == 1 %]
[%    ELSIF gp_struct.has_good_iss_p == 1 %]
[%       total_assoc_types = total_assoc_types + 1 %]
[%       ev_types.push('<a href="#ev_p" title="ISS" style="border:1px solid #666666; background-color: ' _ STATUS_COLORS.good _ ';">&nbsp;ISS&nbsp;</a>') %]
[%    END %]
[% #   IF gp_struct.has_odd_iss_p == 1 %]
[% #      total_assoc_types = total_assoc_types + 1 %]
[% #      ev_types.push('<a href="#ev_i" title="Improper ISS" style="border:1px solid #666666; background-color: ' _ STATUS_COLORS.odd _ ';">&nbsp;ISS&nbsp;</a>') %]
[% #   END %]
[% #   IF gp_struct.has_non_p == 1 %]
[% #   IF gp_struct.has_exp_p == 0 && gp_struct.has_good_iss_p == 0 && gp_struct.has_odd_iss_p == 0 %]
[%      # total_assoc_types = total_assoc_types + 1 %]
[%      # ev_types.push('<a href="#ev_n" title="Evidence that is neither experimantal nor ISS" style="border:1px solid #666666; background-color: ' _ STATUS_COLORS.bad _ ';">&nbsp;X&nbsp;</a>') %]
[% #   END %]
[%    ev_span = ev_types.join(',&nbsp;') %]

[%    ## Add symbol %]
[%    IF gp_struct.direct_p == 1 %]<b>[% END %]<a title="[% gp_struct.gene_product_symbol %] ([% gp_struct.gene_product_id %])" href="[% gp_struct.gene_product_link %]">[% gp_struct.gene_product_symbol %]</a>[% IF gp_struct.direct_p == 1 %]</b>[% END %][% IF total_assoc_types >= 1 %]&nbsp;[% ev_span %][% END %]

[%    IF i < gp_list.size %]<br>[% END %]
[%    i = i + 1 %]
[% END %]
<!-- END template: rg_gp_render_uniform_compact.tmpl -->
