<!-- START template: start_form.tmpl -->
<!-- mode = [% mode %] -->
<!-- service = [% service %] -->
<form action="[% service %]" name="form" id="form" method="GET">
  <input type="hidden" name="mode" value="[% mode %]">
  <!-- END template: start_form.tmpl -->
