<!-- START template: textarea.tmpl -->
<!-- variable = [% variable %] -->
<!-- contents = [% contents %] -->
<!-- rows = [% rows %] -->
<!-- columns = [% columns %] -->
[% IF ! columns %]
[%    columns = 40 %]
[% END %]
[% IF ! rows %]
[%    rows = 10 %]
[% END %]
<textarea cols="[% columns %]"
	  rows="[% rows %]"
	  name="[% variable %]">[% contents %]</textarea>
<!-- END template: textarea.tmpl -->
