[% USE HTML %]
[% IF !page_title;
		page_title = 'A Message From AmiGO';
	END;
	IF !page_title_header;
		page_title_header = page_title;
	END %]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<!-- START template: amigo_message.tmpl -->
<html lang="en">
	<head>
	<title>AmiGO: [% page_title_header %]</title>
	[% INCLUDE header_info.tmpl %]
	</head>
	<body>
	[% INCLUDE header.tmpl %]
		<div class="contents">
		<h1>[% page_title %]</h1>
		[% IF error;
				TRY;
					INCLUDE message.tmpl;
					#INCLUDE error_message.tmpl;
				CATCH;
					PROCESS error.tmpl;
				END;
			ELSE %]
		<p>An error of unknown origin has occurred. Please retry your query or contact the <a alt="GO Helpdesk link" href="http://www.geneontology.org/GO.contacts.shtml">GO helpdesk</a> with details of your problem.</p>
		[% END %]
		</div>
[% INCLUDE footer.tmpl %]
	</body>
</html>
<!-- END template: amigo_message.tmpl -->
