[% USE HTML %]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<!-- START template: blank.tmpl -->
<html lang="en">
	<head>
	<title>AmiGO! Your friend in the Gene Ontology.</title>
		[% INCLUDE header_info.tmpl %]
	</head>
	<body>
[% INCLUDE header.tmpl %]
		<div class="contents">
		<h1>Results</h1>
[% USE Dumper(indent=1) ; '<pre>'; Dumper.dump( data ); '</pre>' %]
		</div>
[% INCLUDE footer.tmpl %]
	</body>
</html>
<!-- END template: blank.tmpl -->
