[% USE HTML %]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<!-- START template: subset_details.tmpl -->
<html lang="en">
	<head>
	<title>AmiGO: [% page_title %] Subset Details</title>
		[% INCLUDE header_info.tmpl %]
	</head>
	<body>
[% INCLUDE header.tmpl %]
		<div class="contents">
		<h1>[% page_title %]</h1>
[% TRY;
		INCLUDE message.tmpl;
		#	USE Dumper(indent=1) ; '<pre>'; Dumper.dump( graph ); '</pre>' %]


<!-- <div class="block warning" id="old"> -->
<!--   <h2 class="">Warning</h2> -->
<!--   <p> -->
<!--     This page, while still accurate, is deprecated and may have -->
<!--     reduced functionality. Please update your links to the new page -->
<!--     at: <a title="New page for [% term.acc %]" href="[% NEW_LINK %]">[% NEW_LINK %]</a>. -->
<!--   </p> -->
<!-- </div> -->

<div class="block term" id="info">
	<h2>Subset Information</h2>
	<dl class="term-info">
		<dt>Accession</dt>
		<dd class="name">[% term.acc %]</dd>
		<dt>Ontology</dt>
		<dd class="type">[% term.type.replace('_', ' ') %]</dd>
	</dl>
</div>
	[% PROCESS subset_tree_view.tmpl;
		CATCH;
			PROCESS error.tmpl;
		END %]
		</div>
[% INCLUDE footer.tmpl %]
	</body>
</html>	
<!-- END template: subset_details.tmpl -->
