<!-- START template: layers2_graph_bootstrap.tmpl -->    

[% STANDARD_CSS %]
[% AMIGO_UI_WIDGETS_CSS %]
[% GO_NAVI_CSS %]

[% AMIGO_JS %]
[% AMIGO_GO_META_JS %]
[% AMIGO_UI_WIDGETS_JS %]
[% JQUERY_JS %]
<script type="text/javascript"
	 src="http://openlayers.org/api/OpenLayers.js"></script>
[% GO_NAVI_JS %]
<script type="text/javascript"
        src="[% GO_NAVI_DATA %]"></script>
<script type="text/javascript"
        src="[% js_dir %]/GONaviPluginExamples.js"></script>
[% # JS_INIT %]
<!-- END template: layers2_graph_bootstrap.tmpl -->
