<div id="navi">

  <h3>Navi:</h3>

  <ul id="men">

    <li>
      <a href="go.cgi"
	 title="Return to the main AmiGO site.">Main AmiGO Site</a>
    </li>
    
    [% IF current == "homolset_summary" %]
    <li class="here">Homolset Summary</li>
    [% ELSE %]
    <li>
      <a href="amigo?mode=homolset_summary"
	 title="View the summary">Homolset Summary</a>
    </li>
    [% END %]
    
    [% IF current == "matrix" %]
    <li class="here">Matrix</li>
    [% ELSE %]
    <li>
      <a href="amigo?mode=matrix"
	 title="View the matrix">Matrix</a>
    </li>
    [% END %]
    
    [% IF current == "software_list" %]
    <li class="here">Software list</li>
    [% ELSE %]
    <li>
      <a href="amigo?mode=software_list"
	 title="View the software list">Software list</a>
    </li>
    [% END %]
    
  </ul>
</div>

<!--
<div class="clearall"></div>
-->
