<!-- START template: rg_gp_render_uniform.tmpl -->
<!-- aid_hash = [% aid_hash %] -->

[% aid_list = aid_hash.keys %]
[% i = 1 %]
[% FOREACH aid = aid_list %]
[%    a_struct = aid_hash.$aid %]

[% ## Make evidence list. %]
[% total_assoc_types = 0 %]
[% ev_types = [] %]
[% IF a_struct.has_exp_p == 1 %]
[%    total_assoc_types = total_assoc_types + 1 %]
[%    ev_types.push('<span title="Experimental" style="border:1px solid #666666; background-color: ' _ STATUS_COLORS.exp _ ';">&nbsp;e&nbsp;</span>') %]
[% END %]
[% IF a_struct.has_good_iss_p == 1 %]
[%    total_assoc_types = total_assoc_types + 1 %]
[%    ev_types.push('<span title="Proper ISS" style="border:1px solid #666666; background-color: ' _ STATUS_COLORS.good _ ';">&nbsp;p&nbsp;</span>') %]
[% END %]
[% IF a_struct.has_odd_iss_p == 1 %]
[%    total_assoc_types = total_assoc_types + 1 %]
[%    ev_types.push('<span title="Improper ISS" style="border:1px solid #666666; background-color: ' _ STATUS_COLORS.odd _ ';">&nbsp;i&nbsp;</span>') %]
[% END %]
[% IF a_struct.has_bad_iss_p == 1 %]
[%    total_assoc_types = total_assoc_types + 1 %]
[%    ev_types.push('<span title="Bad ISS" style="border:1px solid #666666; background-color: ' _ STATUS_COLORS.bad _ ';">&nbsp;b&nbsp;</span>') %]
[% END %]
[% ev_span = ev_types.join('&nbsp;') %]

[% ## Add symbol %]
[% IF a_struct.direct_p == 1 %]<b>[% END %]<a title="[% a_struct.gene_product_symbol %]" href="[% a_struct.gene_product_link %]">[% a_struct.gene_product_symbol %]</a></span>[% IF a_struct.direct_p == 1 %]</b>[% END %][% IF total_assoc_types >= 1 %]&nbsp;[% ev_span %][% END %]

[%    IF i < aid_list.size %]<br />[% END %]
[%    i = i + 1 %]
[% END %]
<!-- END template: rg_gp_render_uniform.tmpl -->
