<!-- START template: amigo_common_head.tmpl -->
<!-- path = "[% path %]" -->
<!-- html_url = "[% html_url %]" -->
<!-- HTML_URL = "[% HTML_URL %]" -->
[% ## Name copy for older apps during an error. TODO: Change at higher level. %]
[% html_url = HTML_URL %]
    <title>AmiGO! Your friend in the Gene Ontology.</title>
    <meta http-equiv="content-type"
	  content="text/html; charset=iso-8859-1">
    [% IF IE8_COMPAT_MODE == 'yes' %]
    <!-- Force IE8 back to IE7 to keep too much from breaking -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    [% END %]
    <link rel="icon" 
	  type="image/png" 
	  href="[% html_url %]/images/favicon.png">
<!--
    <link rel="search"
	  type="application/opensearchdescription+xml"
	  title="AmiGO Labs: Term"
	  href="[% html_url %]/opensearch/amigo_term.xml">
    <link rel="search"
	  type="application/opensearchdescription+xml"
	  title="AmiGO Labs: Gene Product"
	  href="[% html_url %]/opensearch/amigo_gene_product.xml">
-->
    <link href="[% html_url %]/css/formatting.css"
	  rel="stylesheet"
	  type="text/css">
    
    <!--[if lte IE 8]>
	<link href="[% html_url %]/css/iefix.css"
	      rel="stylesheet"
	      type="text/css">
	<![endif]-->

	<!--
    <script type="text/javascript"
	    src="[% html_url %]/js/all.js"></script>
	-->
<!-- END template: amigo_common_head.tmpl -->
