<!-- START template: amigo_common_footer.tmpl -->
<!-- date = "[% date %]" -->
   <div class="clearall"></div>
[% release_date = date;
	PROCESS footer.tmpl %]
<!-- END template: amigo_common_footer.tmpl -->
