<!-- START template: amigo_goose_footer.tmpl -->
<div class="clearall"></div>
<div id="footer">
  <p>
    <!--
    GO databases
    <br />
    -->
    <a href="http://www.geneontology.org/GO.cite.shtml#data"
       title="How to cite AmiGO data">Cite this data</a>
    &bull;
    <a href="http://www.geneontology.org/GO.cite.shtml"
       title="Terms of use for the GO project">Terms of use</a>
    &bull;
    <a href="http://www.geneontology.org/GO.contacts.shtml"
       title="Contact the GO helpdesk">GO helpdesk</a>
    <br />
    Copyright &copy; 1999-2010
    <a href="http://www.geneontology.org/index.shtml"
       title="Gene Ontology home page">the Gene Ontology</a>
  </p>
</div>
<!-- END template: amigo_goose_footer.tmpl -->
