<!-- START template: message_gp_assoc.tmpl -->
[% 
IF error;
	error_h = data.error_hash;
	tmpl = '';
	m_types = ['fatal', 'warning', 'info'];
	FOREACH c = m_types;
		IF error.$c;
			img = c;
			LAST;
		END;
	END %]
<div id="messages" class="[% c %]">
<ul id="error">
[% 

	amigo_disclaimer = "Due to limitations in the current AmiGO software, requests of this size have been disabled. If this is problematic, please contact the GO helpdesk about query limits. Otherwise, please select from one of the options below.";
	
	contact_link = 'If you cannot access the data you need using the options above, please <a href="http://www.geneontology.org/GO.contacts.shtml">contact the GO helpdesk</a>.';
	
	goose_link = 'Query the GO database directly using <a href="http://go.berkeleybop.org/goose" title="GOOSE, the GO Online SQL Environment">GOOSE, the GO Online SQL Environment</a>.';

	FOREACH class = error.keys.sort;
		message = '';
	
		FOREACH type = error.$class.keys;
		#	type = msg.shift;
			msg = [];
			IF error.$class.$type != 1;
				msg = error.$class.$type;
			END;
		#	'<li>' _ type _ '</li>';
			SWITCH type;

	#	fatal
		CASE 'too_many_assocs';
			tmpl = 'too_many_assocs';
			## Replace with something more robost (as the
			## below has failed to catch its typo).
			# tot = error_h.total.n_pages || error_h.total_filtered.n_pages;
			tot = '?';
			IF error_h.defined;
			   IF error_h.total.defined;
			      IF error_h.total.n_pages.defined;
			         tot = error_h.total.n_pages;
			      END;
			   ELSIF error_h.total_unfiltered.defined;
			      IF error_h.total_unfiltered.n_pages.defined;
			         tot = error_h.total_unfiltered.n_pages;
			      END;
			   END;
			END;

			IF (msg.size > 1);
				last = msg.pop;
				message = "There are over " _ tot _ " pages of terms associated with the gene products " _ msg.join(', ') _ ' and ' _ last _ '.';
			ELSE;
				message = "There are over " _ tot _ " pages of terms associated with the gene product " _ msg.0 _ '.';
			END;
			message = message _ ' ' _ amigo_disclaimer;

		CASE 'no_gp';
			message = 'AmiGO could not find any gene products to perform your query upon. Please go back and select one or more gene products.';

		CASE 'too_many_gps';
			message = 'The gene product annotation overview is limited to displaying ' _ max_selected_gps _ ' gene products at one time.';

		CASE 'no_gp_assocs';
			tmpl = 'no_gp_assocs';
			IF (msg.size > 1);
				last = msg.pop;
				message = "There are no terms associated with the gene products " _ msg.join(', ') _ " and " _ last _ ".";
			ELSE;
				message = "There are no terms associated with the gene product " _ msg.0 _ ".";
			END;
			IF error_h.total.n_results && filters_on;
				
				IF error_h.total.n_results == 1;
					str = "is 1 gene product";
				ELSE;
					str = "are " _ error_h.total.n_results _ " gene products";
				END;
				message = message _ " Without filters, there " _ str _ " associated with the gene products selected.";
			END;

		CASE;
			message = type;
		END; %]

		<li><img src="[% image_dir %]/[% class %].png" alt="[% class %] message"> [% message %]</li>
[% END; END %]
</ul>

[% IF tmpl == 'too_many_assocs' %]
	<ul>
	[% IF error_h.total.dl_ok %]
		<li>Download this data in <a href="gp-assoc.cgi?[% url_string %]&amp;format=go_assoc&amp;session_id=[% session_id %]" title="Download association data in GA file format" class="fmt"> <img src="[% image_dir %]/dl.png" alt="download link"> gene association format</a> or <a href="gp-assoc.cgi?[% url_string %]&amp;format=rdfxml&amp;session_id=[% session_id %]" title="Download association data in RDF XML format" class="fmt"> <img src="[% image_dir %]/dl.png" alt="download link"> RDF-XML</a></li>
	[% END; %]
		<li>Alter your filter settings.
		[% INCLUDE filter_gp_assoc.tmpl %]
		</li>
	[% IF show_goose_links %]
		<li>[% goose_link %]</li>
	[% END %]
			</ul>
	[% IF !error_h.total.dl_ok %]
<p>[% contact_link %]</p>
	[% END;

#	END of too many assocs

	ELSIF tmpl == 'no_gp_assocs' %]
	[% IF error_h.total_unfiltered.n_results;
			results = error_h.total_unfiltered.n_results; 
			IF results == 0;
				str = '0 term associations';
			ELSIF results == 1;
				str = 'one term association';
			ELSIF results > 1;
				str = results _' term associations';
			END; %]
	<p>Without filters, there would be [% str %].</p>


		[% IF error_h.total_unfiltered.n_results > 0 %]
	<ul>
			[% IF error_h.total_unfiltered.html_ok;
					IF error_h.total_unfiltered.n_pages == 1;
						pages = '(1 page)';
					ELSIF error_h.total_unfiltered.n_pages > 1;
						pages = '(' _ error_h.total_unfiltered.n_pages _ ' pages)';
					END; %]
		<li><a href="gp-assoc.cgi?[% url_string %]&amp;action=reset-filters&amp;session_id=[% session_id %]">View this data</a>[% pages %]</li>
			[% END;
				IF error_h.total_unfiltered.dl_ok; %]
		<li>Download these associations in <a href="gp-assoc.cgi?[% url_string %]&amp;action=reset-filters&amp;format=go_assoc&amp;session_id=[% session_id %]" title="Download association data in GA file format" class="fmt"> <img src="[% image_dir %]/dl.png" alt="download link"> gene association format</a> or <a href="gp-assoc.cgi?[% url_string %]&amp;action=reset-filters&amp;format=rdfxml&amp;session_id=[% session_id %]" title="Download association data in RDF XML format" class="fmt"> <img src="[% image_dir %]/dl.png" alt="download link"> RDF-XML</a></li>
			[% END;
			
				IF error_h.total_unfiltered.n_results > 0 %]
		<li>Alter your filter settings:
		[% INCLUDE filter_gp_assoc.tmpl %]
		</li>
			[% END;
				
				IF !error_h.total_unfiltered.dl_ok && !error_h.total_unfiltered.html_ok;
					IF show_goose_links %]
		<li>[% goose_link %]</li>
				[% END;
				END;

			END %]
			</ul>
	[% END;
	END; %]
[% IF 1 == 0; # disable this for the moment
	IF error_h.gp && error_h.gp.size > 1;
	USE Dumper; '<pre style="font-size: 0.7em">'; Dumper.dump(error);"\n\n";
	'error_h: ' _ Dumper.dump(error_h);
	'</pre>';

%]
<ul>
	[% FOREACH entry = data.order;
			this_gp = entry.gp;
			IF error_h.gp.${this_gp.id} %]
<li><a href="gp-details.cgi?gp=[% HTML.escape(this_gp.xref.xref_dbname _ ':' _ this_gp.xref.xref_key) %]&amp;session=[% session_id %]" title="View gene product details">[% HTML.escape(this_gp.symbol) %]</a> ([% HTML.escape(this_gp.xref.xref_dbname _ ':' _ this_gp.xref.xref_key) %]): [% error_h.gp.${this_gp.id}.n_results %] associations
[% IF error_h.gp.${this_gp.id}.html_ok %]
<a href="gp-assoc.cgi?gp=[% HTML.escape(this_gp.xref.xref_dbname _ ':' _ this_gp.xref.xref_key) %]&amp;session=[% session_id %]" title="View gene product associations">view</a>
[% END;
	IF error_h.gp.${this_gp.id}.dl_ok %]
<a href="gp-assoc.cgi?gp=[% HTML.escape(this_gp.xref.xref_dbname _ ':' _ this_gp.xref.xref_key) %]&amp;session=[% session_id %]&amp;format=go_assoc" title="Download in gene association file format">gene association format</a>
<a href="gp-assoc.cgi?gp=[% HTML.escape(this_gp.xref.xref_dbname _ ':' _ this_gp.xref.xref_key) %]&amp;session=[% session_id %]&amp;format=rdfxml" title="Download in RDF XML format">RDF XML</a>
[% END; %]</li>
		[% END;
		END;
	'</ul>';
	END;
	
	END; %]

</div>
[% END %]
<!-- END template: message_gp_assoc.tmpl -->
