<!-- START: success.tmpl -->
[% one_p = 0 %]
[% IF PROVISIONAL_TERMS.size == 1 %]
[%    one_p = 1 %]
[% END %]
<div class="contents">

  <h1>Cross-product Term Request: Success!</h1>

  <div class="block">

    [% IF one_p %]
    <h2>Term Provisionally Added</h2>
    [% ELSE %]
    <h2>Terms Provisionally Added</h2>
    [% END %]

    [% IF one_p %]
    <p>
      Your term has been provisionally added to the GO. It may take
      some time before a curator is able to check, and possibly
      finalize, your submission; in the meantime, please use the term
      below for you work.
    </p>
    [% ELSE %]
    <p>
      Your terms have been provisionally added to the GO. It may take
      some time before a curator is able to check, and possibly
      finalize, your submission; in the meantime, please use the terms
      below for your work.
    </p>
    [% END %]

    <p>
      To add more terms, please
      <a href="xp_term_request" title="Add more terms">return</a>
      to the starting page.
    </p>

    <p>
      <b>Warning:</b> system is disconnected and the curators were not
      contacted. Do <b>not</b> use the generated terms.
    </p>

    <div></div>

    [% IF one_p %]
    <h3><label>Please use the following term:</label></h3>
    [% ELSE %]
    <h3><label>Please use the following terms:</label></h3>
    [% END %]

    [% FOREACH t = PROVISIONAL_TERMS %]
    <p>
      <ul>
	<li>ID: <b>[% t.id %]</b></li>
	<li>Name: <b>[% t.name %]</b></li>
	<li>Genus: <b> [% t.genus %] </b></li>
	<ul>
	  [% FOREACH d = t.differentia %]
	  <li>Differentia: <i>[% d.relation %]</i> <b>[% d.target %]</b></li>
	  [% END %]
	</ul>
      </ul>
    </p>
    <br />
    [% END %]

  </div>
</div>
<!-- END: success.tmpl -->
