<!-- START: xp_regulation.tmpl -->
<div class="contents">

  <h1>Cross-product Term Request: Regulation</h1>

  <div class="block">

    <h2>Regulation Term</h2>

    <div class="chooser">

      <form>

	<input name="mode" type="hidden" value="do" />

	<input id="genus" name="genus" type="hidden" value="GO:0008150" />
	
	<p>Create up to 3 terms at any one time by checking multiple boxes:</p>

	<ul>
	  <li>
	    <input name="relation" type="checkbox" value="regulates" />
	    &nbsp;regulation of
	  </li>
	  <li>
	    <input name="relation" type="checkbox" value="negatively_regulates" />
	    &nbsp;negative regulation of
	  </li>
	  <li>
	    <input name="relation" type="checkbox" value="positively_regulates" />
	    &nbsp;positive regulation of
	  </li>
	</ul>
      
	<!-- autocomplete="off" -->
	<input type="text"
	       name="target"
	       size="30"
	       value=""
	       style="outline: #3875D7 solid 1px;"
	       id="target" />&nbsp;(regulated process)

	<p>
	  <input class="button" type="submit" value="Request" />
	</p>

      </form>
    </div>
  </div>
</div>
<!-- END: xp_regulation.tmpl -->
  
