* { padding: 0; margin: 0; border: 0; }

body { margin: 5px 0; font: 100%/1.6 verdana, arial, helvetica, sans-serif; color: #000; background: #fff; }

hr { height: 1px; visibility: hidden; }

h1, h2, h3, h4, table caption { font-family: "trebuchet ms", "lucida grande", arial, sans-serif; }

div, p, table, h2, h3, h4, dl, fieldset, ol, ul, dl 
{ margin: 10px 0; }

ul, ol { margin-left: 20px; }

h1 { line-height: 1.0; text-align: center; padding: 0.6em 0; }

h2 { line-height: 1.0; }

h3, h4, table caption { color: #006; }

acronym { border-bottom: none; }

table caption { text-align: left; font-weight: bold; }

dl { border-bottom: 3px double #3875D7; }

dt { border-top: 1px dotted #3875D7; /* color: #006; font-weight: bold; */ padding: 2px 0; }

dd { font-size: 95%; line-height: 1.68; }

table { border: 1px solid #ccc; /* width: 100%; */ }

tfoot tr, thead tr, tr.thead { background: #cddcf3; }

td, th { vertical-align: top; padding: 2px; }

th { background: #cddcf3; font-weight: 700; text-align: center; }

td + p, td + ul { margin-top: 0; }

td p { margin: 0; }

/* styling form elements */

input, textarea { margin: 0 5px; padding: 1px; }

fieldset { border: 0 solid; }

fieldset label { padding-right: 10px; }

.radio, .cbox { margin: 0 3px 0 10px; }

input.txt { margin: 0 5px; }

.button { padding: 2px; margin: 0 5px; }

textarea, .textBox, .button { border: 1px solid #000; }

select { min-width: 1.5em; border: 1px solid #3875D7; }

p select { margin-left: 5px; }

a, a:link { color: #006; text-decoration: none; border-bottom : 1px dotted #006; padding: 0.1em 2px; /*background: #e9effa;*/ }

a:visited { border-bottom: 1px dotted #99F; /* color: #336; */ }

a:hover, a:focus, a:active { color: #fff; background: #3875D7; border: none; }

a.ext { background: url(../images/icon-external.png) #e9effa center right no-repeat; padding-right: 13px; }

a.ext:hover, a.ext:focus, a.ext:active { background: url(../images/icon-external.png) #3872D7 center right no-repeat; }

a.img, a.img:hover, a.img:focus, a.img:active { background: #fff; padding: 0; border: none; margin-top: 5px; }

a.img img { border: 1px solid #fff; padding: 2px; }

a.img:hover img, a.img:focus img, a.img:active img { border: 1px solid #3875D7; }
 
a.anchor { visibility: hidden; }

#main /* page contents */ { margin: 0 10px; background: #fff; color: #000; }

.menuBg #main { margin: 0 10px 0 190px; }

/* #top { background: #fff; color: #ccc; font-size: 0.6em; margin: 5px; }

#top a { border: none; padding: 1px; background: #fff; color: #ccc; }

#top a:hover, #top a:active { color: #fff; background: #cddcf3; }
*/
#footer, #header { width: 100%; background: #e9effa; border-width: 3px 0 3px 0; border-color: #3875D7; border-style: solid; margin: 0; overflow: hidden; }

#header { background: url(../images/GO-head.gif) #e9effa 0 -10px no-repeat; }

#header h1 { font: italic 200% "trebuchet ms", "lucida grande", arial, sans-serif; margin: 0; padding: 15px 5px 5px 125px; color: #3875D7; text-align: left; }

#footer p { margin: 5px 10px; font-size: 70%; text-align: right; }

#oboLogo { border: 0; float: left; margin: 5px 10px; }

#oboLogo a.img, #oboLogo a.img:hover, #oboLogo a.img:active { background: #e9effa; border: none; }

#oboLogo a.img img { border: 1px solid #e9effa; padding: 2px; }

#oboLogo a.img:hover img, #oboLogo a.img:active img { border: 1px solid #3875D7; }

#navBox /* page layout */ { width: 180px; float: left; margin: 0; }

#navLeft /* nav bar on left */ { font-size: 80%; line-height: 1.4; margin: 0; }

#navLeft ul { list-style: none; margin: 10px 0 0 0; }

#navLeft a { display: block; color: #000; background: #cddcf3; border-bottom: 1px solid #fff; padding: 2px 15px 2px 5px; }

#navLeft li.head a { font-weight: bold; }

#navLeft li.sub a { background: #EBF1FC; padding: 2px 5px 2px 15px; }

#navLeft li a:hover { color: #fff; background: #3875D7; }

#navLeft li.sub { display: none; }

#navLeft.all li { display: block; }

#navLeft.dl li.dl { display: block; }

#navLeft.docs li.docs { display: block; }

#navLeft.abt li.abt { display: block; }

#navLeft.tools li.tools { display: block; }

#navLeft.cur li.cur { display: block; }

#navLeft li.top { display: inline; }

#navPage /* table of contents */ { border: 2px solid #ccc; background: #EBF1FC; padding: 0 30px; font-size: 90%; }

#navPage ul { list-style: none; margin-left: 0; }

#navPage li { margin: 3px 0; }

#navPage a { padding: 0 2px; border: solid 1px #ebf1fc; }

#navPage a:hover { border: solid 1px #3875D7; background: #fff; color: #006; }

#navPage li.h1 { font-weight: bold; margin-left: -20px; padding-top: 5px; font-size: 120%; }

#navPage li.h2 { font-weight: bold; }

#navPage li.h3 { font-weight: normal; padding-left: 20px; }

#navPage li.h4 { font-weight: normal; padding-left: 40px; }

#topSrchDiv { font-size: 85%; margin: 5px; }

#topSrchDiv fieldset { margin: 0 0 5px 0; }

#topSrchDiv label { padding: 0; }

#topSrchInput { width: 12em; }

#mainSrchDiv { text-align: center; line-height: 1.8; }

#mainSrchDiv label { padding: 0 10px; }

#contactFormDiv { text-align: center; width: 30em; }

#contactFormDiv div { margin: 5px; text-align: left; padding: 5px; }

#contactEmail, #contactName, #contactText, #contactSubjectDiv { margin: 0; width: 100%; }

#contactSubmit { margin-bottom: 10px; }

#contactSubjectDiv, #contactInstruct em { display: none; }

#key td { width: 33%; font-size: 80%; line-height: 2; text-align: center; }

#key caption { text-align: center; }

.code, code, samp, kbd, dl.codeList dt, .annotFields td, .tt { font-family: monaco, courier, monospace; }

.wh, .wh td { background: #fff; }

.blue, .blue td { background: #e9effa; }

.inline { display: inline; }

.C { text-align: center; }

.L { text-align: left; }

.R { text-align: right; }

small, .small { font-size: 80%; line-height: 2; }

kbd, code, .code, dl.codeList dt { color: #006; background: inherit; font-style: normal; }

.i, cite { font-style: italic; }

em, .toolDetail cite, cite a { font-style: normal; }

.b, strong, em, #farmList dt { font-weight: bold; }

.stdTxt /* standard text */ { color: #000; font-weight: normal; background: inherit; }

.hidden { visibility: hidden; }

.noDisplay { display: none; }

.menuBg { background: url(../images/bg.gif) #fff left top repeat-y; margin: 0; }

p.intro /* pages without left hand navigation menu */ { padding: 10px; }

/*
.biblio { padding: 10px; }

.biblio ul { font-size: 70%; margin: 0 0 0 20px; }

.biblio p { font-size: 80%; margin: 15px 0 0 0; }

.biblio p b { font-size: 120%; }

.biblio p a { font-size: 110%; }
*/
.error { border: 2px solid #f00; }

.newsIssue, .newsDate { font: bold 120% "trebuchet ms", "lucida grande", arial, sans-serif; }

.newsDate { margin: 0 0 0 10em; text-align: right; }

.newsIssue { margin: 0; float: left; width: 10em; }

.block { border: 1px solid #3875D7; font-size: 90%; padding: 0 10px; }

.block li { /* line-height: 1.4; margin-bottom: 5px 0; */ }

.block ul.small { padding: 0 0 5px 0; }

.block ul.small li { padding: 0; }

.block h2 { border-bottom: 1px solid #3875D7; background: #e9effa; margin: 0 -10px 0 -10px; padding: 5px 10px; }

.block h3 { border-top: 1px solid #3875D7; margin: 0 -10px; padding: 5px 10px 0 10px; }

.block h2 + h3, .block h2 + .tool h3, h3.first { border-top: none; }

.block img.floatR { margin-top: 5px; }

p.toTop { font-size: 0.8em; text-align: right; background: #e9effa; margin: 0 -10px; padding: 0.1em 0; clear: right; line-height: 1.5; }

p.toTop a { background: #cddcf3; color: #000; padding: 0.2em 5px; border: 0 solid; }

p.toTop a:hover, p.toTop a:active { background: #3875D7; color: #fff; border: 0 solid; }

.toggler { float: right; font-size: 70%; text-align: right; margin-right: -30px; }

table#annot td.sep, th.sep { padding: 0; width: 0; }

td.stdL { background: #cddcf3; font-weight: bold; width: 25%; }

.noDot { list-style: none; }

ul.inline { display: block; }

ul.inline li { display: inline; margin: 0 10px 0 0; }

.tree ul { margin: 0 0 0 20px; list-style: none; }

.noMarL { margin-left: 0; }

.noMar { margin: 0; }

.marB { margin-bottom: 10px; }

.exList /* lists coming from ps */ { margin-top: -5px; margin-bottom: 10px; }

ul.boxed { border-bottom: 1px solid #3875D7; }

ul.boxed li { border-top: 1px solid #3875D7; }

ul.boxed ul, ul.boxed ul li { border: none; }

.floatR { float: right; }

.floatClearR { float: right; clear: right; }

.floatR img { margin-left: 10px; }

div.floatR a { background: #fff; border: none; padding: 3px; }

.os { float: right; margin: 5px 0 5px 10px; clear: right; }

.os img { margin: 2px; }

.clearboth { clear: both; }

.clearL { clear: left; }

.clearR { clear: right; }

dl.toolKey { border: 1px solid #000; background-color: #e9effa; width: 25%; text-align: center; padding: 10px; margin-right: 5px; }

.toolKey dt { border-top: none; }

.tool .floatR { margin: 5px 0 0 0; }

.tool .floatR img { padding: 2px; }

.fileList, .fileTable ul { margin: 0; list-style: none; }

.mtgList { margin-left: 0; list-style: none; }

.mtgList .fileList, .blankList .fileList { margin-bottom: 10px; }

.mtgList .fileList li { display: inline; margin-right: 10px; }

ul.fileList + p.toTop { margin-top: 10px; }

.blankList { margin-left: 0; list-style: none; }

/*li.jpg, li.jpg a, li.html, li.html a, li.ppt, li.ppt a, li.zip, li.zip a, li.psd, li.psd a, li.sxi, li.sxi a, li.txt, a.txt, li.txt a, li.doc, li.doc a, li.dir, li.dir a, li.pdf, li.pdf a */
li.jpg, li.html, li.ppt, li.zip, li.psd, li.sxi, li.txt, li.doc, li.dir, li.pdf { background-repeat: no-repeat; background-position: 0% 50%; padding-left: 20px; }

/*li.dir a, li.doc a, li.html a, li.jpg a, li.pdf a, li.ppt a, li.psd a, li.sxi a, li.txt a, li.zip a, a.txt { padding-left: 20px; } */

.addr { background-image: url(../images/icon-mail.gif); background-repeat: no-repeat; background-position: 100% 50%; padding-right: 18px; padding-left: 0; }

li.jpg /*, li.jpg a, li.jpg a:active, li.jpg a:focus, li.jpg a:hover */ { background-image: url(../images/icon-jpg.gif); }

li.html /*, li.html a */ { background-image: url(../images/icon-html.gif); }

li.ppt /*, li.ppt a */ { background-image: url(../images/icon-ppt.gif); }

li.zip /*, li.zip a */ { background-image: url(../images/icon-zip.gif); }

li.psd /*, li.psd a */ { background-image: url(../images/icon-psd.gif); }

li.sxi /*, li.sxi a */ { background-image: url(../images/icon-unknown.gif); }

li.txt /*, a.txt, li.txt a */ { background-image: url(../images/icon-txt.gif); }

li.doc /*, li.doc a */ { background-image: url(../images/icon-doc.gif); }

li.dir /*, li.dir a */ { background-image: url(../images/icon-dir.gif); }

li.pdf /*, li.pdf a */ { background-image: url(../images/icon-pdf.gif); }

.w10 { width: 10%; }

.w20 { width: 20%; }

.w25 { width: 25%; }

.w33 { width: 33%; }

.w40 { width: 40%; }

.title { padding: 5px 0; font-weight: bold; }

.toolDetail { font-size: 80%; margin-top: 0; }

#annotFileFormat tr.rqd td, .annotFields td.rqd { color: #f00; }

table dl, #farmList, #farmList dt, #farmlist dd { border: none; }

.news dt { font: 100%/1.6 "trebuchet ms", "lucida grande", arial, sans-serif; color: #006; }

#farmList dt { margin-top: 5px; }

table dl, table ol, table ul { margin: 0; padding: 0; }

table dt { font-weight: bold; border: none; line-height: 1.3; padding: 0; }

table dd { font-size: 80%; margin: 2px 0; line-height: 1.5; }

.annotFields { font-size: 85%; }

.annotFields th { width: 20%; }

/* GO-specific styles */ 
.term, dl.defList dt, dl.synList dt /* term names and ids */ { color: #006; font-weight: 700; }

.syn, dl.synList dd /* synonyms */ { color: #27976F; font-weight: 500; }

.rel /* relationships */ { color: #27976F; font-style: italic; }

.synType { font-weight: 400; color: #000; }

.spp { font-style: italic; }

.evCode, .evList li /* annotation - evidence code */ { color: #4D2797; font-weight: bold; }

ul.evList { list-style: none; margin-left: 0; }

.evList ul { list-style: circle; margin-left: 20px; color: #000; }

.evList ul li { color: #000; font-weight: normal; }

.qual /* qualifier */ { background: #D0FFEE; padding: 0 1px; }

.gp /* gene product */ { color: #6E38D7; }

.db /* database */ { font-weight: bold; }

.col, .colList dt /* column names in the annotation file */ { font-weight: bold; }

code .comment { color: #666; }

cite.paper { font-style: normal; }

.paperTitle:before, .paperTitle:after { content: "\""; }

.paperJournal { text-decoration: underline; }

strong, .warning { font-weight: bold; color: #f00; }

p.warning { padding: 10px; border: 2px solid #f00; background: #fff; color: #f00; }

.important, p.important { padding: 0 10px; border: 2px solid #f00; }

.note, p.note { color: inherit; background: #D0E0FF; padding: 0 2px; }

.ont, .fmt, .annot, .email, .codeBlock, .terminal { font: 0.9em/1.4 monaco, courier, monospace; border: 2px solid #ccc; padding: 0 10px; }

.terminal, .terminal kbd { background: #009; color: #fff; }

.ont, .fmt /* ontology diagrams and file format examples */ { background: #e9effa; color: #000; margin: 0.5em 5%; }

.fmt ol { margin-left: 0; list-style: none; }

.codeBlock pre { margin: 10px 0; }

.annot /* annotation diagrams */ { border: 1px solid #3875D7; font-size: 90%; line-height: 1.78; }

.email, .codeBlock { margin: 0 5% 10px 5%; color: #000; }

.email { line-height: 1.5; }

.sampList samp { color: #00f; }

.contents li a { font-weight: bold; }

.contents ul { margin-left: 0; }

.contents ul { list-style: none; }

.contents ul li { margin-bottom: 0.6em; }

.contents ul ul li { margin-bottom: 0; }

ul.topics /* page topics in the TOC of a section contents page */ { font-size: 80%; margin-left: 20px; list-style: circle; }

.q /*questions in the Q & A */ { font-weight: bold; color: #4D2797; }

.ppl { list-style: none; margin-bottom: 10px; }

.pplToggle, .dbAddr { margin: 5px 0; }

.ppl, .pplToggle { font-size: 90%; line-height: 1.78; }

.mailList, .yearList { list-style: none; margin: 10px 0; }

.yearList li { display: inline; margin-right: 10px; }

.hilite1 { color: inherit; border: 1px dotted #00f; background: #C8C8FF; }

.hilite2 { color: inherit; border: 1px dotted #c00; background: #FFBFBF; }

.hilite3 { /*color: #909;*/ color: inherit; border: 1px dotted #909; background: #FFBFFF; }

.hilite4 { /*color: #060;*/ color: inherit; border: 1px dotted #060; background: #BFFFBF; }

.access { /* text-decoration: underline; */ }

.paging li { display: inline; font-size: 90%; }

.paging li a { padding: 2px 5px; border: 1px dotted #3875d7; }

.paging li a:visited { border: 1px dotted #006; }

.paging li a:hover, .paging li a:active { border: 1px solid #3875d7; }

.annotCol { width: 10em; }
.validCol { width: 8em; }
.dlCol { width: 15em; }

dl.colList dd { padding-bottom: 5px; }

.tableNarrow, .tableMid, .tableWide { /*border: 1px solid black; */ font-size: 100%; }

.tableNarrow dt, .tableWide dt, .tableMid dt { /* background-color: #E0D0FF; */ border-top: 1px dotted #999; margin: 0; float: left; }

.tableNarrow dd, .tableWide dd, .tableMid dd { /* background-color: #C1A1FF; */ float: none; border-top: 1px dotted #999; font-size: 100%; }

.tableNarrow dt { width: 5em; }

.tableNarrow dd { margin: 0 0 0.5em 5em; }

.tableWide dt { width: 14em; }

.tableWide dd { margin: 0 0 0.5em 14em; }

.tableMid dt { width: 10em; }

.tableMid dd { margin: 0 0 0.5em 10em; }

.tableNarrow dd + .tableNarrow dd, .tableMid dd + .tableMid dd, .tableWide dd + .tableWide dd { border-top: none; }

/* Blues #3872D7 #275097 #D0E1FF #A1C3FF

Purples #6E38D7 #4D2797 #E0D0FF #C1A1FF

Greens #38D79E #27976F #D0FFEE #A1FFDD */

div.navBarDiv /* classes for the navBar on the 2006 annotation camp pages */ { margin: 10px -10px; border-width: 3px 0 3px 0; border-color: #3875D7; border-style: solid; background: #e9effa; font-size: 1.0em; line-height: 1.8; }

ul.navBar { margin: 0; list-style: none; background: #e9effa; text-align: center; }

ul.navBar li { display: inline; padding: 0.3em 0; }

ul.navBar li a { border: 1px solid #e9effa; padding: 0.3em 5px; }

ul.navBar li a:hover, ul.navBar li a:active { border: 1px solid #fff; color: #fff; background: #3875D7; }

ul.navBar li a.here { color: #000; border: 1px solid #000; background: #fff; }

div.amigoEx { font-size: 90%; }

.noLinkTxt { color: #006; }

/* hCalendar microformat */
div.vevent { margin: 0; }
.vevent abbr { border: 0; }

@media print { #top, #footer, #navBox, #navLeft, #navPage, #accessLinks { display: none; } .menuBg #main { margin: 10px 0; } }
