<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/go_latest_lite</property>
        <property name="connection.username">suzi</property>
        <property name="connection.password"></property>
        <!-- property name="c3p0.min_size">2</property>
		<property name="c3p0.max_size">3</property>
		<property name="c3p0.timeout">1800</property>
		<property name="c3p0.max_statements">50</property -->

        <!-- JDBC connection pool (use the built-in) -->
		<!--
        <property name="connection.pool_size">1</property>
		-->
	
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		

		<!-- Load up the basic GO Object Hibernate Mapping Files -->
        <mapping resource="org/geneontology/db/model/Term.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/TermDefinition.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/TermSynonym.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/Relation.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/DBXref.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/DB.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/TermDBXref.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/MetaRelation.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/Species.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/GeneProduct.hbm.xml"/>
        <mapping resource="org/geneontology/db/model/ProductSeq.hbm.xml"/>
       	<mapping resource="org/geneontology/db/model/Sequence.hbm.xml"/>
       	<mapping resource="org/geneontology/db/model/HomolSet.hbm.xml"/>
       	<mapping resource="org/geneontology/db/model/Association.hbm.xml"/>
       	<mapping resource="org/geneontology/db/model/Evidence.hbm.xml"/>
             
    </session-factory>
</hibernate-configuration>