[% INCLUDE filters.tmpl %]
<dl>
	<dt id="filterToggle" class="toggle">Filter tree view <a href="http://www.geneontology.org/amigo/help-filter_browse.shtml" class="help-link"><img src="[% image_dir %]/help.png" alt="help!"></a></dt>
	<dd id="filterDiv">
		<form action="term-details.cgi">
			[% FOREACH p IN tree.keys;
					IF tree.$p.size > 0; %]
			<input type="hidden" name="[% p %]" value="[% tree.$p.join(',') %]">
			[% END; END %]

			[% gp_ok = [];
				all = [];
				FOREACH f = filterdata.keys;
					IF filterdata.$f.filtertype == 'gp' || filterdata.$f.filtertype == 'assoc';
						IF filterdata.$f.gp_count_ok;
							gp_ok.push(f);
						ELSE;
							all.push(f);
				END; END; END;
				IF all.size > 0 || gp_ok.size > 0 %]
				<fieldset class="floatL block">
					<legend>Filter Gene Product Counts</legend>
				[% FOREACH opt_name = gp_ok;
						INCLUDE options_select.tmpl;
					END;
					IF all.size > 0; %]
					<ul class="floatL">
					[% FOREACH opt_name = all;
							title = filterdata.$opt_name.title;
							IF opt_name != 'taxid'; title = title _ 's'; END; %]
					<li>[% INCLUDE options_checkbox_all.tmpl %]</li>
					[% END %]
					</ul>
				[% END %]
				</fieldset>
			[% END %]
			<fieldset class="floatL block">
				<legend>View Options</legend>
			[% FOREACH opt_name = ['tree_view']; #['term_context', 'tree_view'];
					option = extra_filter.$opt_name.data %]
				<p>[% extra_filter.$opt_name.title %] 
				[% INCLUDE options_radio.tmpl %]
				</p>
			[% END %]
			</fieldset>
			<input type="hidden" name="session_id" value="[% session_id %]">
			<input type="hidden" name="action" value="filter">
			<input class="button" type="submit" value="Set filters"> 
		</form>
		<form action="term-details.cgi">
			<input type="hidden" name="session_id" value="[% session_id %]">
			[% FOREACH p IN tree.keys;
					IF tree.$p.size > 0; %]
			<input type="hidden" name="[% p %]" value="[% tree.$p.join(',') %]">
			[% END; END %]
					
			<input type="hidden" name="action" value="reset-filters">
			<input class="button" type="submit" value="Remove all filters"> 
		</form>
<hr class="clearL">
	</dd>
</dl>
