<ul class="paging">
	[% href = cgi _ '.cgi?';
		
		IF url_string;
			href = href _ url_string _ '&amp;session_id=' _ session_id;
		ELSE;
			IF (page_name == 'gp_search' || page_name == 'term_search' || page_name == 'spp_search');
				
				href = href _ 'query=' _ queryurl _ '&amp;search_constraint=' _ search_constraint _ '&amp;session_id=' _ session_id;
		#	ELSIF page_name == 'gp_assoc';
		#		href = 'gp-assoc.cgi?gp=' _ gplist_str _ '&amp;session_id=' _ session_id;
			ELSIF page_name == 'blast_results';
				href = href _ 'session_id=' _ session_id;
			END;
		END;
		
		IF page;
			p = page;
			IF p > n_pages;
				p = n_pages;
			END;
		ELSE;
			p = 1;
		END;
		s = p - 8;
		IF s < 1;
			s = 1;
		END;
		IF s > 1;
		#	include a ref to the first page %]
	<li><a href="[% href | url %]&amp;page=1[% IF name_anchor %]#[% name_anchor; END; %]">1</a></li>
	<li>...</li>
	[% END;
		e = s + 16;
		IF e > n_pages;
			e = n_pages;
		END;
		i = s;
		WHILE i <= e;
			IF i == p %]
				<li><em>[% i %]</em></li>
		[% ELSE %]
				<li><a href="[% href | url %]&amp;page=[% i; IF name_anchor %]#[% name_anchor; END; %]">[% i %]</a></li>
		[% END;
			i = i + 1;
		END;
		IF e < n_pages;
		#	include a ref to the last page
			last = n_pages %]
	<li>...</li>
	<li><a href="[% href | url %]&amp;page=[% last; IF name_anchor %]#[% name_anchor; END; %]">[% last %]</a></li>
	[% END;
		UNLESS page_name == 'blast_results' %]
	<li><a href="[% href | url %]&amp;page_size=all">View all results</a></li>
	[% END %]
</ul>
