/*
***
*** Things to help with OpenLayers displays.
***
*/

.layers_map_display_medium {
    width: 600px;
    height: 400px;
    border: solid #3875D7;
}
.layers_map_display_large {
    width: 800px;
    height: 600px;
    border: solid #3875D7;
}
.layers_map_display {
    width: 300px;
    height: 300px;
    border: solid #3875D7;
}

.x-mask-loading {
    color: #000000;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #dddddd;
    opacity: .75;
}

/* TODO: If I can't remember, remove... */
.bbb {
    height: 29px;
    width: 29px;
    color: red;
    background-color: blue;
/*	right: 0px; */
}	
