<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
	<title>AmiGO! Your friend in the Gene Ontology.</title>
		[% INCLUDE header_info.tmpl %]
		[% INCLUDE javascript_front.tmpl %]
	</head>
	<body>
		<div id="header">
			[% INCLUDE header.tmpl %]
			[% INCLUDE bar_generic.tmpl %]
		</div>
		<div class="contents">
<h1 id="amigo-logo">AmiGO</h1>
<form action="search.cgi" name="frontForm" id="frontForm">
	<fieldset class="C">
		<legend>Search</legend>
		<input type="hidden" name="session_id" value="[% session_id %]">
		<p><label for="query">Search the Gene Ontology database</label></p>
		<input type="text" name="query" size="55" value="[% query %]" class="textBox" id="query">
		<fieldset>
		<legend>Search type</legend>
		 <span><input type="radio" name="search_constraint" value="term" checked id="term"><label for="term">GO terms</label></span>
		 <span><input type="radio" name="search_constraint" value="gp" id="gp"><label for="gp">genes or proteins</label></span>
		 <input type="checkbox" id="exact_match" name="exact_match" value="yes"><label for="exact_match">exact match</label>
		</fieldset>
		<input class="button" type="submit">
	</fieldset>
</form>
		</div>
		<div id="footer">
			[% INCLUDE footer.tmpl %]
		</div>
	</body>
</html>
