<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<title>AmiGO: Gene Product Search Results</title>
		[% INCLUDE header_info.tmpl;
			#INCLUDE javascript_gp_search.tmpl %]
		<meta name="keywords" content="[% querylist.join(', ') %]">
	</head>
	<body>
		<div id="header">
			[% INCLUDE header.tmpl %]
			[% INCLUDE bar_generic.tmpl %]
		</div>
		<div class="contents">
			<h1>Gene Product Search Results</h1>
	[% TRY;
		INCLUDE query_summary.tmpl;
		IF data.size && data.size > 0;
			INCLUDE gp_search_results.tmpl;
		END;
	CATCH;
		PROCESS error.tmpl;
	END; %]
		</div>
		<div id="footer">
			[% INCLUDE footer.tmpl %]
		</div>
	</body>
</html>
