<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
	<title>AmiGO: Term Details</title>
		[% INCLUDE header_info.tmpl %]
		[%# INCLUDE term_detail_header_info.tmpl %]
<link href="[% cgi_url %]/term-details?term=[% term_acc %]&amp;format=rdfxml&amp;session_id=[% session_id %]" rel="meta" type="application/rdf+xml" title="RDF XML data for [% term_acc %]">
		[% INCLUDE javascript_term_details.tmpl %]
	</head>
	<body>
		<div id="header">
			[% INCLUDE header.tmpl %]
			[% INCLUDE bar_generic.tmpl %]
		</div>
		<div class="contents term">
[% TRY;
		INCLUDE message.tmpl;
		page_title = 'Term Details';
#		term = graph.get_term(term_acc);
		IF term;
			page_title = term.name;
		END; %]
			<h1 class="name">[% page_title %]</h1>
		
[% IF term;
		IF term.is_obsolete %]
<div class="block obsolete" id="info">
[% ELSE %]
	<ul id="navPage" class="inline C">
		<li><a href="#info" title="View term information">Term information <img src="[% image_dir %]/down.png" alt="in-page link"></a></li>
		<li><a href="#lineage" title="View the placement of the term in the tree">Term lineage <img src="[% image_dir %]/down.png" alt="in-page link"></a></li>
		<li><a href="#xrefs" title="View cross-references to external databases">External references <img src="[% image_dir %]/down.png" alt="in-page link"></a></li>
		<li><a href="term-assoc.cgi?term=[% term.acc %]&amp;session_id=[% session_id %]" title="View gene products associated with this term">
	[% gpa = 'Gene product associations';
		IF gp_count_ok;
			gpa = term.n_deep_products _ ' gene product association';
			IF term.n_deep_products != 1;
				gpa = gpa _ 's';
			END;
		END;
		gpa %] <img src="[% image_dir %]/left.png" alt="link to another page"></a></li>
	</ul>
<div class="block" id="info">
[% END %]
	<h2>Term Information</h2>
	<dl class="term-info">
		<dt>Accession</dt>
		<dd class="acc">[% term.acc %]</dd>
		<dt>Ontology</dt>
		<dd class="type">[% term.type.replace('_', ' ') %]</dd>
		<dt>Synonyms</dt>
		[% sl = term.synonym_list;
			stl = term.synonym_type_list;
			IF sl.size == 1 and sl.0 != "";
				IF stl.0 %]
			<dd class="syn"><span class="type">[% stl.0 %]</span>: [% sl.0 %]</dd>
			[% ELSE %]
			<dd class="syn">[% sl.0 %]</dd>
			[% END;
			ELSIF sl.size == 1 or sl.size == 0 %]
			<dd>None</dd>
		[% ELSE;
			s_type_l = term.synonym_type_list;
			FOREACH t = s_type_l;
				s_l = term.synonyms_by_type(t);
				FOREACH syn = s_l;
					IF t %]
			<dd class="syn"><span class="type">[% t %]</span>: [% syn %]</dd>
				[% ELSE %]
			<dd class="syn">[% syn %]</dd>
		[% END; END; END; END %]
		<dt>Definition</dt>
		[% IF term.definition %]
			<dd class="def">[% term.definition %] [source: 
			[% IF term.definition_dbxref_list.size > 0;
					xref_list = [];
					FOREACH xref = term.definition_dbxref_list;
						xurl = munger.get_ref_url(xref.xref_dbname,xref.xref_key);
						ref = xref.xref_dbname _ ':' _ xref.xref_key;
						IF xref.xref_dbname == "URL";
							ref = xref.xref_key;
						END;
						IF xurl;
							ref = '<a href="' _ xurl _ '" title="' _ ref _ '">' _ ref _ '</a>';
						END;
						xref_list.push(ref);
					END;
					xref_list.join(', ') _ ']';
				ELSE %]
				unknown]
			[% END %]
			</dd>
		[% ELSE %]
			<dd>None</dd>
		[% END %]
		<dt>Comment</dt>
		[% IF term.comment %]
			<dd class="comment">[% munger.markup_comment(session_id,term.comment) %]</dd>
		[% ELSE %]
			<dd>None</dd>
		[% END %]
		<dt>Subset</dt>
		[% IF term.subset_list %]
			<dd><ul class="subset">
				[% FOREACH sub = term.subset_list;
						IF sub.search('goslim') %]
				<li><a href="term-details.cgi?term=[% sub %]&amp;session_id=[% session_id %]" title="View details of the [% sub %] GO slim">[% sub %]</a></li>
					[% ELSE %]
				<li>[% sub %]</li>
				[% END; END  %]
			</ul></dd>
		[% ELSE %]
			<dd>None</dd>
		[% END %]
	</dl>
	<p class="toTop">
		<a href="#top" title="Back to the top of the page">Back to top</a> 
	</p>
</div>


			[% UNLESS term.is_obsolete %]

<div class="block" id="lineage">
	<h2>Term Lineage</h2>
	[% IF graph %]
	<div class="filters">
		[% INCLUDE filter_term_details.tmpl %]
	</div>
	[% INCLUDE treeview.tmpl %]
	[% END %]
	<p class="toTop">
		<a href="#top" title="Back to the top of the page">Back to top</a> 
	</p>
</div>

<div class="block" id="xrefs">
<h2>External References</h2>
[% IF term.dbxref_list && term.dbxref_list.size > 0;
	xref_hash = {};
	FOREACH xref = term.dbxref_list;
		db = xref.xref_dbname;
		IF xref_hash.$db;
			xref_list = xref_hash.$db;
			xref_list.push(xref);
			xref_hash.$db = xref_list;
		ELSE;
			xref_list = [];
			xref_list.push(xref);
		xref_hash.$db = xref_list;
	END; END %]
	<dl class="ext-ref">
	[% FOREACH db =  xref_hash.keys.sort %]
		<dt>
			<a class="img" href="#[% db %]"><img src="[% image_dir %]/ominus.png" alt="close" id="[% db %]Img"></a>
				[% db %] ([% xref_hash.$db.size %])
		</dt>
		<dd id="[% db %]"><ul>
			[% FOREACH xref_item = xref_hash.$db %]
			<li>
				[% xref_key = xref_item.xref_key; db_link = munger.get_url(db, xref_key);
					IF db_link %]
					<a href="[% db_link %]" title="View [% xref_key %] in [% db %]">[% xref_key %]</a>
				[% ELSE %]
					[% xref_key %]
				[% END;
					IF xref_item.xref_desc %] [% xref_item.xref_desc %][% END %]
				</li>
			[% END %]
			</ul></dd>
		[% END %]
	</dl>
	<p class="toTop">
		<a href="#top" title="Back to the top of the page">Back to top</a> 
	</p>
[% ELSE %]
	<p>None.</p>
[% END %]
</div>
			[% END; END;
		CATCH;
			PROCESS error.tmpl;
		END %]
		</div>
		<div id="footer">
			[% INCLUDE footer.tmpl %]
		</div>
	</body>
</html>	
