[% USE HTML %]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<!-- START template: browse.tmpl -->
<html lang="en">
	<head>
	<title>AmiGO: Tree Browser</title>
		[% INCLUDE header_info.tmpl %]
	</head>
	<body>
[% INCLUDE header.tmpl %]
		<div class="contents">
		<h1>Tree Browser</h1>
[% IF error.keys;
#		USE Dumper; '<pre>'; Dumper.dump(error); '</pre>'; END
		INCLUDE message.tmpl;
	END;
	IF !error || !error.fatal;
		TRY %]
		<div class="filters">
		[% INCLUDE filter_browse.tmpl %]
		</div>
		[% PROCESS treeview.tmpl;
		#	USE Dumper; '<pre>'; Dumper.dump(graph); '</pre>';
			CATCH;
			PROCESS error.tmpl;
		END;
	END %]

		</div>
[% INCLUDE footer.tmpl %]
	</body>
</html>
<!-- END template: browse.tmpl -->
