<!-- START: exhibit_exp.tmpl -->

<div class="contents">

  <h1>Live Search</h1>

  <div class="block">
    <h2>Fast Searches in AmiGO</h2>
    
    <p>
      TODO: Instructions.
      <a title="Go to Live Search documentation"
	 href="http://wiki.geneontology.org/index.php/AmiGO_Manual:_Live_Search">Live Search documentation</a>.
    </p>
    
  </div>

  <div class="twocol-wrapper">
    <div class="twocol-leftcolumn" style="margin-top: -15px;">
      <!-- Start controls insert -->
      <div>
	<!-- <div id="search-tabs" style="font-size:100%; width:25em;"> -->
	<div id="search-tabs" style="font-size:100%;">
	  <ul>
	    <li>
	      <a href="#search"
	    	 class="override"><span>Gene Ontology Search</span></a>
   	    </li>
	  </ul>
	  <div id="search">
	    <form id="app-form" action="#" method="get">
	      <div id="tag_facet_document_category">
	  	Loading tag facet document_category controls...
	      </div>
	      <div id="app-form-query">
	  	Loading controls...
	      </div>
	      <!-- <div id="app-dynamic-filters"> -->
	      <!-- 	Loading controls... -->
	      <!-- </div> -->
	      <div id="app-form-filters">
	  	Loading controls...
	      </div>
	    </form>
	  </div>
	</div>	  
      </div>
      <!-- End controls insert -->
    </div>
    <div class="twocol-content" style="margin-left: 26em; margin-top: -15px;">
      <!-- Start results insert -->
      <div id="results_block" class="block">
	<h2>Results</h2>
	<div id="load_float"></div>
	<div id="pager">
	  <p>
	    No paging yet.
	  </p>
	</div>
	<div id="results_div">
	  <p>
	    Please read the
	    <a title="Go to Live Search documentation"
	       href="http://wiki.geneontology.org/index.php/AmiGO_Manual:_Live_Search">Live Search documentation</a>
	    for usage.
	  </p>
	</div>
      </div>
      <!-- End results insert -->
    </div>
  </div>
  
</div>
<!-- END: exhibit_exp.tmpl -->
