<!-- START: heavy_client_ext.tmpl -->

<div id="west">
  <div id="application_controls">
    <p>
      Loading application controls...
    </p>
  </div>
</div>

<!-- <div id="north"> -->
<!--   <p> -->
'<!--     NORTH -->
<!--   </p> -->
<!-- </div> -->

<div id="center_ls">
  <!-- <a id="hideit" href="#">Toggle the west region</a> -->
  <p>
    Loading the live search...
  </p>
</div>

<div id="center_navi">
  <p>
    Loading GO navigation...
  </p>
</div>

<!--   <div id="center1"> -->
<!--     <p> -->
<!--       CENTER1 -->
<!--     </p> -->
<!--   </div> -->

<!-- <div id="props-panel" style="width:200px;height:200px;overflow:hidden;"> -->
<!-- </div> -->

<!-- <div id="south"> -->
<!--   <p> -->
<!--     SOUTH -->
<!--   </p> -->
<!-- </div> -->

<!-- END: heavy_client_ext.tmpl -->
