<!-- START template: lexical_search.tmpl -->
<!-- SEARCH_P = [% SEARCHED_P %] -->

<div class="contents">

  <h1>Lexical Search</h1>

  <div class="block">

    <h2>Information</h2>
    
    <p>
      The lexical search allows you to search in indexed contents of
      the GO as if it was a large text document. This system allows
      extremely fast searches, as well as complex constraints.
    </p>

    <p>
      <em>Examples</em>: <br /> insulin AND receptor AND GO:0008283, protein binding, "protein binding",
      protein AND binding, protein AND NOT binding, protein -binding,
      protein binding^5, protein binding~, protein bind*, etc. See the
      <a href="http://lucene.apache.org/java/docs/queryparsersyntax.html">Lucene
      query</a> documentation for more details on how to search.
    </p>

  </div>

  <div class="block">

    <h2>Query</h2>

    [% IF SEARCHED_P == 1 %]
    <p>
      <a href="#results">Jump</a> to results.
    </p>    
    [% END %]

    <!--
	<p>
	  Search alpha based on Lucene.
	</p>
    -->
    
    <form action="amigo_exp" id="lexical_search_form" method="GET">
      <input type="hidden" name="mode" value="[% amigo_mode %]" />
      <!--
	  <input type="hidden" name="type" value="gp" />
	  <input type="hidden" name="page" value="1" />
	  <input type="radio"
		 name="type"
		 value="gp"
		 class="radio"
		 checked
		 id="gp" />
	  <label for="gp">genes or proteins</label>
	  <input type="radio"
		 name="type"
		 value="term"
		 class="radio"
		 id="term" />
	  <label for="term">terms</label>
	  -->

      <p>
	<label for="query">Search GO</label>
	<input class="textBox"
	       type="text"
	       name="query"
	       size="50"
	       value="[% IF SEARCHED_P == 1 %][% query %][% END %]"
       	       id="query" />
	<input type="submit" class="button" />
      </p>
    </form>
  </div>

  [% IF SEARCHED_P == 1 %]

  <div class="block">

    <h2>Results</h2>

    [% IF SEARCH_TOTAL < 1 %]

    <h3 id="results">There were no results. Please play again.</h3>

    [% ELSE %]
			 
    <h3 id="results">Results: [% SEARCH_FIRST %] - [% SEARCH_LAST %] of
      [% SEARCH_TOTAL %] general results for: [% query %]</h3>
    <p>
      page [% SEARCH_CURRENT_PAGE %] of [% SEARCH_LAST_PAGE %]
      <br />
    </p>

    <p>
      [% IF SEARCH_CURRENT_PAGE == 1 %]
      <a title="next page of results"
	 href="[% NEXT_LINK %]">next</a>
      [% ELSIF SEARCH_CURRENT_PAGE > 1 && SEARCH_CURRENT_PAGE < SEARCH_LAST_PAGE %]
      <a title="previous page of results"
	 href="[% PREV_LINK %]">prev</a>
      <a title="next page of results"
	 href="[% NEXT_LINK%]">next</a>
      [% ELSIF SEARCH_CURRENT_PAGE == SEARCH_LAST_PAGE %]
      <a title="previous page of results"
	 href="[% PREV_LINK %]">prev</a>
      [% ELSE %]
	<em>The page [% SEARCH_CURRENT_PAGE %] is out of bounds.</em>
	[% END %]
    </p>

    <table>      

      <thead>
	<tr>
	  <th>Gene Product</th>
	  <th>Relevance</th>
	  <th>Information</th>
	</tr>
      </thead>

      <tbody>
	[% eo = 0 %]
	[% FOREACH r = SEARCH_RESULTS %]
	[%    IF eo % 2 == 0 %]
	<tr class="even_row">
	  [%  ELSE %]
	<tr class="odd_row">
	  [%  END %]
	  [%  eo = eo + 1 %]

	  <td>
	    <a title="Jump to [% r.symbol %] information"
	       href="[% r.link %]">[% r.symbol %]</a>
	    <br />
	    [% r.name %]
	  </td>

	  <td class="bar-chart">

	    <span style="{white-space: nowrap}">
	      <img src="http://localhost/amigo/images/bar-l.png" width="3" height="20" /><img src="http://localhost/amigo/images/bar.png" alt="47" width="[% r.score * 2 %]" height="20" /><img src="http://localhost/amigo/images/bar-r.png" width="3" height="20" />&nbsp;[% r.score %]%<span>
	  </td>

	  <td>
	    acc: [% r.hilite_acc %]
	    <br />
	    symbol: [% r.hilite_symbol %]
	    <br />
	    full name: [% r.hilite_name %]
	    <br />
	    gene product type: [% r.hilite_gptype %]
	    <br />
	    data source: [% r.hilite_source %]
	    <br />
	    ncbi taxa id: [% r.hilite_species %]
	    <br />
	    synonyms: [% r.hilite_synonym %]
	  </td>

	</tr>
	[% END %]
      </tbody>
	
    </table>

    [% END %]

  </div>
  
  [% END %]

</div>

<!-- END template: lexical_search.tmpl -->
