<!-- START: phylotree_cluster_index.tmpl -->
[%- IF clusters.size == 0 -%]
<p>No phylotree entries to display.</p>
[%- ELSE -%]
<script type="text/javascript">
jQuery(document).ready(function() { 
  $('table').tablesorter().tablesorterPager({container: $("#pager"),positionFixed:false});
});
</script>

<h1>[% dbname %]</h1><table>

<caption id="pager" class="pager">
 <img src="/amigo/js/com/ext/resources/images/default/grid/page-first.gif" class="first"/>
 <img src="/amigo/js/com/ext/resources/images/default/grid/page-prev.gif" class="prev"/>
 <input type="text" class="pagedisplay"/>
 <img src="/amigo/js/com/ext/resources/images/default/grid/page-next.gif" class="next"/>
 <img src="/amigo/js/com/ext/resources/images/default/grid/page-last.gif" class="last"/>
 <select class="pagesize">
  <option value="10" selected="selected">10</option>
  <option value="20">20</option>
  <option value="30">30</option>
  <option value="40">40</option>
  <option value="[% cluster_count %]">[% cluster_count %] (all)</option>
 </select>
</caption>

<thead><tr><th></th><th>Cluster</th><th>Last Annotated</th><th>All</th><th>RefG</th><th>EXP</th>
[%- FOREACH dist IN clusters.0.dist -%]
<th>[% dist.code %]</th>
[%- END -%]
</tr></thead>

<tbody>
[%- FOREACH cluster IN clusters %]<tr>
<td>[% IF offset ; loop.count + offset ; ELSE ; loop.count ; END %]</td>
<td><a href="[% cluster.url %]">[% cluster.key %]</a></td>
<td>[% cluster.last_annotated %]</td>
<td>[% cluster.number_of_members %]</td>
<td>[% cluster.number_of_refg_members %]</td>
<td>[% cluster.exp %]</td>
[%- FOREACH dist IN cluster.dist -%]
<td class="taxid_[% dist.ncbi_taxa_id %]">[% dist.count %]</td>
[%- END -%]
</tr>[% END %]</tbody></table>[%- END -%]
<!-- END: phylotree_cluster_index.tmpl -->
