<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <servlet>
    <servlet-name>RefGenomeService</servlet-name>
    <servlet-class>org.bbop.server.RefGenomeServiceImpl</servlet-class>
  </servlet>	
  <servlet-mapping>
    <servlet-name>RefGenomeService</servlet-name>
    <url-pattern>/RefGenomeService</url-pattern>
  </servlet-mapping>

</web-app>
