<!-- START: layers_graph.tmpl -->
<div class="content">

  <h1>GO Navigation</h1>

  <div align="center">
  <!-- <div id="go_map" class="layers_map_display_large"></div> -->
    <div id="go_map" class="layers_map_display"></div>
  </div>

  <div align="center">
    <a id="bookmark" href="">bookmark (plugin)</a>
    <a id="annotation_heat_plugin" href="">heat map (plugin)</a>
    <br />
    <div id="load_float" style=""></div>
  </div>

  <br />

</div>
<!-- END: layers_graph.tmpl -->
