<!-- Start: matrix.tmpl -->

[% title = 'Matrix View' %]
[% INCLUDE html/inc/start_contents.tmpl %]

[% title = 'Matrix Inputs' %]
[% INCLUDE html/inc/start_block.tmpl %]

[% mode = 'matrix' %]
[% servive = 'amigo_exp' %]
[% INCLUDE html/inc/start_form.tmpl %]

<div>
[% variable = 'terms' %]
[% contents = term_list_text %]
[% INCLUDE html/inc/textarea.tmpl %]
</div>

<div>
Select species
<br />
[% variable = 'species' %]
[% hash = species_hash %]
[% selected = species_selected %]
[% catch_all = '' %]
[% INCLUDE html/inc/drop.tmpl %]
</div>

<div>
[% title = 'Select relations' %]
[% name = 'graph_type' %]
[% list = graph_type_list %]
[% selected = graph_type_selected %]
[% INCLUDE html/inc/radio.tmpl %]
</div>

[% INCLUDE html/inc/end_form.tmpl %]

[% IF matrix %]

[% title = 'Results' %]
[% INCLUDE html/inc/start_block.tmpl %]

<table border="1">
  <tr>
    <td></td>
    
    [% EO_C = 0 %]
    [% FOR term_acc IN term_list %]
    [%   IF EO_C % 2 == 0 %]
    <td class="even_row">
    [%   ELSE %]
    <td class="odd_row">
    [%   END %]
      <span style="font-size: 80%;">
	[% term_info.$term_acc.name %]
      </span>
      <br />
      <span style="font-size: 67%;">
	<a href="[% term_info.$term_acc.term_link %]">[% term_acc %]</a>
      </span>
    </td>
    [%   EO_C = EO_C + 1 %]
    [% END %]
  </tr>
  
  <!-- -->
  [% EO_R = 0 %]
  [% FOR row_acc IN term_list %]
  <tr>
    [% IF EO_R % 2 == 0 %]
    <td class="even_row">
    [% ELSE %]
    <td class="odd_row">
    [% END %]
      <span style="font-size: 80%;">
	[% term_info.$row_acc.name %]
      </span>
      <br />
      <span style="font-size: 67%;">
	<a href="[% term_info.$row_acc.term_link %]">[% row_acc %]</a>
      </span>
    </td>
    
    [% EO_C = 0 %]
    [% FOR col_acc IN term_list %]
    
    [% IF EO_R % 2 == 0 AND EO_C % 2 == 0 %]
    <td class="crossed_row">
    [% ELSIF EO_R % 2 == 0 %]
    <td class="even_row">
    [% ELSIF EO_C % 2 == 0 %]
    <td class="even_row">
    [% ELSE %]
    <td class="odd_row">
    [% END %]
      [% IF matrix.$row_acc.$col_acc.link %]
      <a href="[% matrix.$row_acc.$col_acc.link %]"
	 title="View shared associations.">
	[% matrix.$row_acc.$col_acc.gene_products.size %]
      </a>
      &nbsp;
      <img width="20px"
	   height="13px"
	   id="[% unique_point_id.$row_acc.$col_acc %]"
	   src="[% cart_image %]"
	   class="cart-bindable"
	   alt="AmiGO cart."
	   title="Add to your cart." />

      [% ELSE %]
      [% matrix.$row_acc.$col_acc.gene_products.size %]
      [% END %]
    </td>
    
    [%   EO_C = EO_C + 1 %]
    [% END %]
    
  </tr>
  
  [%   EO_R = EO_R + 1 %]
  [% END %]
  
</table>

[% INCLUDE html/inc/end_generic.tmpl %]

[% title = 'Options' %]
[% INCLUDE html/inc/start_block.tmpl %]

Go to
<a title="Jump to the workspace"
   href="amigo_exp?mode=workspace_client">
  workspaces
</a>
&nbsp;/&nbsp;
<input type="checkbox"
       checked=""
       id="cart-chooser-p"
       value="checked"
       name="cart-short-circut-name"
       class="textBox"/>
<label for="cart-short-circut-name">use last cart</label>
<br />

[% INCLUDE html/inc/end_generic.tmpl %]

[% END %]

[% INCLUDE html/inc/end_generic.tmpl %]

[% INCLUDE html/inc/end_generic.tmpl %]

</div>

<!-- End: matrix.tmpl -->
