<!-- START template: amigo_common_select_array.tmpl -->
<!--    title = "[% title %]"         -->
<!--    form_name = "[% form_name %]"         -->
<!--    multiple = "[% multiple %]"           -->
<!--    size = "[% size %]"                   -->
<!--    array = "[% array %]"                   -->
<!--    catch_all = "[% catch_all %]"         --> 
<fieldset>
  <legend>
    <label for="[% form_name %]" class="select">
      [% title %]
    </label>
  </legend>
  <select id="[% form_name %]" name="[% form_name %]"
	  [% IF multiple == "true" %]
	  multiple
	  [% END %]
          size="[% size %]">
    [% # empty_selected_hash_p = 1 %]
    [% # FOREACH item IN selected_hash %]
    [% #  empty_selected_hash_p = 0 %]
    [% # END %]
    [% IF catch_all %]
    <option value="" selected>[% catch_all %]</option>
    [% END %]
    [% i = 0 %]
    [% FOREACH item IN array %]
    <option
       [% IF i == 0 && ! catch_all %]
       selected
       [% END %]
       value="[% item.1 %]">[% item.0 %]</option>
    [% i = i + 1 %]
    [% END %]
  </select>
</fieldset>
<!-- END template: amigo_common_select_array.tmpl -->
