<!-- Start: coannotation.tmpl -->
<div class="contents">
<h1>Gene Product Coannotation Viewer</h1>
[% IF error_msg %]
<div class="block">
<h2>Error!</h2>
	[% IF error_msg.MSG_CODE == 'no_results' %]
<p>There are no gene products annotated to both [% result_set.input_term_list.0.acc %] : [% result_set.input_term_list.0.name %] and [% result_set.input_term_list.1.acc %] ; [% result_set.input_term_list.1.name %]. Please try another pair of IDs.
</p>
	[% ELSIF error_msg.MSG_CODE == 'n_ids_wrong' %]
<p>Please enter two (and only two) GO IDs to use this tool.</p>
	[% ELSE %]
<p>[% error_msg.MSG %]</p>
	[% END %]
</div>
[% END %]

[% IF ! result_set || show_input_form == 1 %]
  <div class="block">
    <h2>Enter two GO term IDs</h2>
	<form action="amigo_exp" name="form" id="form" method="GET">
	<p><label for="term_input"><input type="hidden" name="mode" value="gp_with_2_terms">
	Enter two GO term IDs to see gene products annotated to those terms and / or their children</label></p>

	<textarea id="label" cols="40" rows="10" name="terms">
[% IF result_set.input_term_list;
		FOREACH t = result_set.input_term_list;
t.acc _ "\n";
		END;
	END %]
	</textarea>
	<p>
	<input class="button" type="submit">
	</p>
</form>
</div>

[% END %]

[% IF result_set.sorted_coassoc_list; %]


[%# USE Dumper; '<pre style="font-size: 0.6em">'; Dumper.dump(result_set.t2t_matrix); '</pre>' %]

<div class="block">
<h2>Coannotation Matrix View</h2>

<table style="font-size: 0.8em" id="matrix_table">
<thead>
<tr>
<th> </th>
[% FOREACH t1 = result_set.t2t_matrix.keys.sort %]
<th>[% t1 %]<br>[% result_set.term_data.$t1.name %]</th>
[% END %]
</tr>
</thead>
<tbody>
[% FOREACH t2 = result_set.inv_t2t_matrix.keys.sort %]
<tr>
<td class="bluebg b">[% t2 %]<br>[% result_set.term_data.$t2.name %]</td>
[% # now for the tricky part... filling the table in!
		FOREACH t1 = result_set.t2t_matrix.keys.sort;
			IF result_set.t2t_matrix.$t1.$t2 %]
			<td>[% result_set.t2t_matrix.$t1.$t2.keys.size %] gene product[% IF result_set.t2t_matrix.$t1.$t2.keys.size != 1 %]s[% END %]
			 <ul>
			[% FOREACH gp = result_set.t2t_matrix.$t1.$t2.keys;
					# show the symbol and a link?
					'<li><a href="' _ result_set.gp_data.$gp.gp_details_link _ '" title="' _ result_set.gp_data.$gp.symbol _ ' from ' _ result_set.gp_data.$gp.species.join(" ") _ '" class="symbol">' _ result_set.gp_data.$gp.symbol _ '</a></li>';
				END; %]
			</ul>
			</td>
		[% ELSE %]
			<td> </td>
		[% END;
		END %]
</tr>
[% END %]
</tbody>
<tfoot>
<tr>
<th> </th>
[% FOREACH t1 = result_set.t2t_matrix.keys.sort %]
<th>[% t1 %]</th>
[% END %]
</tr>
</tfoot>
</table>
</div>

<div class="block">
<h2>Gene Product Coannotation to [% result_set.input_term_list.0.acc %] : [% result_set.input_term_list.0.name %] and [% result_set.input_term_list.1.acc %] ; [% result_set.input_term_list.1.name %]</h2>

<p>There are [% result_set.n_total_results %] coannotations to the terms [% result_set.input_term_list.0.acc %] : [% result_set.input_term_list.0.name %] (or its children) and [% result_set.input_term_list.1.acc %] ; [% result_set.input_term_list.1.name %] (or its children).
</p>

<p>[% result_set.gp_data.keys.size %] gene products have associations to these two terms.</p>

<table>
<thead>
<tr>
<th abbr="Name">Symbol, full name</th>
<th>Information</th>
<th>Annotations under [% result_set.input_term_list.0.acc %] ; [% result_set.input_term_list.0.name %]</th>
<th>Annotations under [% result_set.input_term_list.1.acc %] ; [% result_set.input_term_list.1.name %]</th>
</tr>
</thead>
<tbody>
[% counter = 0;
	FOREACH coassoc = result_set.sorted_coassoc_list;
		gp = result_set.gp_data.${ coassoc.gene_product_id };
		IF counter % 2 == 0 %]
	<tr class="even_row">
	[% ELSE %]
	<tr>
	[% END %]
	<td class="gp" style="width: 25%">
		<ul class="floating-links">
[%# USE Dumper; '<pre style="font-size: 0.6em">'; Dumper.dump(coassoc); '</pre>' %]
[% 	term_assoc_text = "view associations";
		IF gp.n_term_assocs;  # && show_term_counts == 1;
			term_assoc_text = gp.n_term_assocs _ ' association';
			IF gp.n_term_assocs != 1;
				term_assoc_text = term_assoc_text _ 's';
			END;
		END %]
			<li><a href="gp-assoc.cgi?gp=[% gp.gpxref %]" title="View term associations">[% term_assoc_text %]</a></li>
	[% IF 0 && show_blast && gp.seq %]
			<li><a class="blast-link" href="blast.cgi?action=blast&amp;seq_id=[% gp.gpxref %]" title="Use sequence as BLAST query">BLAST</a></li>
	[% END %]
		 </ul>
		<a href="[% gp.gp_details_link %]" title="View gene product details" class="symbol">[% gp.symbol %]</a>
	[% IF gp.full_name != gp.symbol %]
		<br><a href="[% gp.gp_details_link %]" title="View gene product details" class="name">[% gp.full_name %]</a>
	[% END %]
	</td>
	<td class="gp" style="width: 15%">
		<span class="type">[% gp.type %]</span>
	[% IF gp.species %]
			from <i class="spp">[% gp.species.join(" ") %]</i>
	[% END %]
	</td>
	[% FOREACH t = coassoc.terms;
			term = result_set.term_data.$t; %]
		<td style="width: 30%">
[% IF 1 == 0 %]
		[% IF !term.is_obsolete %]
			<ul class="floating-links">
			[% gp_assoc_text = 'view gene products';
				IF show_gp_counts == 1 && term.associations;
					gp_assoc_text = term.associations _ ' gene product';
					IF term.associations != 1;
						gp_assoc_text = term.associations _ 's';
				END; END %]
			<li><a href="term-assoc.cgi?term=[% term.acc %]" title="View gene products associated with this term">[% gp_assoc_text %]</a></li>
			<li><a href="[% term.term_browse_link %]" title="View term in the tree">view in tree</a></li>
			 </ul>
[% END %]
		[% END %]
				[% term.acc %]<br><a href="[% term.term_details_link %]&amp;" title="Click to view details of [% term.name %]" class="name">[% term.name %]</a>
		</td>
	[% END %]
	</tr>
[% 	counter = counter + 1; %]
[% END; %]
</tbody>
</table>
[% END %]
</div>
</div>
<!-- End: coannotation.tmpl -->
