<!-- START template: options_gp_table.tmpl -->
[% title = "Perform an action with this page\'s selected gene products...";
	opt_name = 'action';
	select_set = {
		view => {
			title => 'View...'
			options => [
			{ value => 'gp-assoc', label => 'gene product associations' },
			],
		},
		assoc => {
			title => 'Download selected associations',
			options => [
			{ value => 'rdfxml', label => 'in RDF-XML format' },
			{ value => 'go_assoc', label => 'in gene association (tab-delimited) file format' },
			],
		},
		gp => {
			title => 'Download gene product information',
			options => [
			{ value => 'fasta', label => 'in FASTA format (sequences only)' },
			],
		},
		term_enrichment => {
			title => "Use these gene products in the term enrichment...",
			options => [
			{ value => 'te_gp_list', label => 'as an input set' },
			{ value => 'te_bggp_list', label => 'as a background set' },
			],
		},
		slimmer => {
			title => "Slim down associations",
			options => [
			{ value => 'slimmer_gp_list', label => 'to these gene products' },
			],
		},
	}; %]

[% IF page_name == 'amigo_message';
		#	format these as a list with radio buttons;
		done_selecting = 0; %]

	<form action="gp-select.cgi" method="post">
	<ul>
	[% FOREACH opt = select_set.keys.sort %]
	<li>[% select_set.$opt.title %]</li>
	[% FOREACH poss = select_set.$opt.options;
			IF done_selecting == 1; %]
	<li><input type="radio" name="[% opt_name %]" value="[% poss.value %]" id="[% opt_name %].[% poss.value %]" class="radio"><label for="[% opt_name %].[% poss.value %]">[% poss.label %]</label></li>
		[% ELSE %]
	<li><input type="radio" name="[% opt_name %]" value="[% poss.value %]" id="[% opt_name %].[% poss.value %]" class="radio" checked><label for="[% opt_name %].[% poss.value %]">[% poss.label %]</label></li>
		[% done_selecting = 1;
			END;
		END; END %]
	</ul>
	<input class="button" type="submit" value="Go!">
	<input type="hidden" name="session_id" value="[% session_id %]">
	[% FOREACH gp = gp_list %]
	<input type="hidden" name="item" value="[% gp %]">
	[% END %]
	</form>
[% ELSE %]
<select name="[% opt_name %]">
	<option value="0">[% title %]</option>
[% FOREACH opt = select_set.keys.sort; %]
		<optgroup label="[% select_set.$opt.title %]">
		[% FOREACH poss = select_set.$opt.options; %]
		<option value="[% poss.value %]">[% poss.label %]</option>
		[% END %]
		</optgroup>
	[% END %]
</select>
[% END %]
<!-- END template: options_gp_table.tmpl -->
