[% title = "Perform an action with this page\'s selected terms...";
	opt_name = 'action';
	
	select_set = {
		tree => {
			title => 'Tree options',
			options => [
	#		{ value => 'plus_node', label => 'add selected terms to the tree' },
			{ value => 'set-tree', label => 'create a new tree with these terms' },

			{ value => 'rdfxml', label => 'create a new tree with these terms in RDF-XML format' },
			{ value => 'obo', label => 'create a new tree with these terms in OBO format' },
			{ value => 'png', label => 'create a new tree with these terms as a GraphViz image' },
			{ value => 'dot', label => 'create a new tree with these terms in GraphViz dot format' },
			{ value => 'go_ont', label => 'create a new tree with these terms in GO format' },
			{ value => 'tree', label => 'create a new tree with these terms in tab-indented text format' },
			],
		},
#		term => {
#			title => 'Download term information',
#			options => [
#			{ value => 'obo', label => 'in OBO format' },
#			{ value => 'rdfxml', label => 'in RDF-XML format' },
#			],
#		},
		slimmer => {
			title => 'Use terms as input...',
			options => [
			{ value => 'slimmer', label => 'for the GO slimmer' },
			{ value => 'coannot', label => 'for the gene product co-annotation tool' },
			]
		},
		assoc => {
			title => 'Get term associations', 
			options => [
			{ value => 'go_assoc', label => 'in gene association format' },
			{ value => 'rdfxml-assoc', label => 'in RDF-XML format' },
			]
		},
	};
	IF page_name == 'amigo_message';
		#	format these as a list with radio buttons;
		done_selecting = 0; %]
<form action="term-select.cgi" method="post">
	<ul>
	[% FOREACH opt = select_set.keys.sort %]
	<li>[% select_set.$opt.title %]</li>
	[% FOREACH poss = select_set.$opt.options;
			IF done_selecting == 1; %]
	<li><input type="radio" name="[% opt_name %]" value="[% poss.value %]" id="[% opt_name %].[% poss.value %]" class="radio"><label for="[% opt_name %].[% poss.value %]">[% poss.label %]</label></li>
		[% ELSE %]
	<li><input type="radio" name="[% opt_name %]" value="[% poss.value %]" id="[% opt_name %].[% poss.value %]" class="radio" checked><label for="[% opt_name %].[% poss.value %]">[% poss.label %]</label></li>
		[% done_selecting = 1;
			END;
		END; END %]
	</ul>
[% FOREACH term = term_list %]
<input type="hidden" name="item" value="[% term %]">
[% END %]
<input type="hidden" name="session_id" value="[% session_id %]">
<input type="submit" value="Go!">
</form>
[% ELSE %]
<select name="[% opt_name %]">
	<option value="0">[% title %]</option>
[% FOREACH opt = select_set.keys.sort; %]
		<optgroup label="[% select_set.$opt.title %]">
		[% FOREACH poss = select_set.$opt.options; %]
		<option value="[% poss.value %]">[% poss.label %]</option>
		[% END %]
		</optgroup>
	[% END %]
</select>
[% END %]
