

.themeTable td {
    font-size: .9em;
    text-align: left;
    padding: 2px;
}

.themeTable th {
    font-size: 1em;
    text-align: center;
    background: #ffffff;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #1b5c92;
}

.themeTable th a {
    display: block;
    padding: 3px;
}

.themeTable th a:hover {
    color: #ffffff;
    background: #444444;
}

.themeTable TH a:link,
th a:visited {
    color: #444444;
}

.themeTable td.evenRow {
    background-color: #ccddcc;
}

.themeTable td.oddRow {
    background-color: #ffffff;
}

.themeTable a:hover {
    color: #ffffff;
    background-color: #1b5c92;
}

.themeTable th a:hover {
    color: #ffffff;
    background-color: #1b5c92;
}
