<!-- START template: amigo_common_head.tmpl -->
    <title>AmiGO! Your friend in the Gene Ontology.</title>
    <meta http-equiv="content-type"
	  content="text/html; charset=iso-8859-1">
    <link href="/amigo/css/formatting.css"
	  rel="stylesheet"
	  type="text/css">
    
    <!--[if lte IE 8]>
	<link href="http://toy.lbl.gov:9002/amigo/css/iefix.css"
	      rel="stylesheet"
	      type="text/css">
	<![endif]-->

	<!--
    <script type="text/javascript"
	    src="/amigo/js/obfuscate.js"></script>
	-->
<!-- END template: amigo_common_head.tmpl -->
