<!-- START template: amigo_common_footer.tmpl -->
   <div class="clearall"></div>
   <div id="footer"><p>
	Last updated 2007-06-10	<br />
	How can we improve AmiGO?
	<a href="http://www.geneontology.org/amigo/suggest.shtml"
	   title="Send us your AmiGO suggestions">Send us your
	  suggestions</a><br />
	
	Copyright &copy; 1999-2007
	<a href="http://www.geneontology.org/index.shtml"
	   title="Gene Ontology home page">the Gene Ontology</a>
	&bull; 
	<a href="http://www.geneontology.org/GO.contacts.shtml"
	   title="Contact GO">Contact GO</a>
      </p>		
    </div>
<!-- END template: amigo_common_footer.tmpl -->
