[% hidden_params = ['query'] %]
<dl>
	<dt id="filterToggle" class="toggle">Filter search results <a href="http://www.geneontology.org/amigo/help-filter_gp_search.shtml" class="help-link"><img src="[% image_dir %]/help.png" alt="help!"></a></dt>
	<dd id="filterDiv">
	[% gp_filters = [];
		a_filters = [];
		FOREACH f = filterdata.keys;
			IF filterdata.$f.filtertype == 'gp';
				gp_filters.push(f);
			ELSIF filterdata.$f.filtertype == 'ont' || filterdata.$f.filtertype == 'assoc';
				a_filters.push(f);
		END; END %]
		<form action="search.cgi">
		[% s = 4;
			IF gp_filters.size != 0 %]
			<fieldset class="floatL block"><legend>Filter Gene Products</legend>
			[% FOREACH opt_name = gp_filters;
					INCLUDE options_select.tmpl;
				#	tmpl = 'options_' _ f _ '.tmpl';
				#	INCLUDE $tmpl;
				END; %]
			</fieldset>
		[% END;
			IF a_filters.size != 0 %]
			<fieldset class="floatL block">
				<legend>Filter Gene Products by Associations</legend> 
			[% FOREACH opt_name = a_filters;
					INCLUDE options_select.tmpl;
				#	tmpl = 'options_' _ f _ '.tmpl';
				#	INCLUDE $tmpl;
				END; %]
			</fieldset>
			[% FOREACH q = querylist %]
			<input type="hidden" name="query" value="[% q %]">
			[% END %]
			<input type="hidden" name="action" value="filter">
			<input type="hidden" name="search_constraint" value="[% search_constraint %]">
			<input type="hidden" name="session_id" value="[% session_id %]">
			<input class="button" type="submit" value="Set filters"> 
		[% END %]
		</form>
		<form action="search.cgi">
			[% FOREACH q = querylist %]
			<input type="hidden" name="query" value="[% q %]">
			[% END %]
			<input type="hidden" name="action" value="reset-filters">
			<input type="hidden" name="search_constraint" value="[% search_constraint %]">
			<input type="hidden" name="session_id" value="[% session_id %]">
			<input class="button" type="submit" value="Remove all filters"> 
		</form>
<hr class="clearL">
	</dd>
</dl>
