[% FOREACH term = term_list;
		t_acc = term.acc;
		gp_id = gp.id;
		FOREACH q = assoc_h.$gp_id.$t_acc.keys.sort;
			a_list = assoc_h.$gp_id.$t_acc.$q;
			rowspan = 0;
			IF assoc_view != 'summary';
				FOREACH association = a_list;
					rowspan = rowspan + association.evidence_list.size;
				END;
			ELSE;
				rowspan = 1;
			END;
			first = 0;
			IF counter % 2 == 0 %]
		<tr class="even_row assoc">
		[% ELSE %]
		<tr class="assoc">
		[% END;
			IF assoc_view != 'summary' %]
			<td rowspan="[% rowspan %]">
				<input class="cbox" type="checkbox" id="term-[% counter %]" value="[% term.acc %]" name="term">
			</td>
		[% END %]
			<td rowspan="[% rowspan %]">
			[% IF a_list.0.is_not == 1 %]
			<span class="not">NOT</span>
			[% ELSIF a_list.0.qualifier_list; %]
			<ul class="qual">
				[% FOREACH q = a_list.0.qualifier_list.sort('name');
						IF q.name != 'not' %]<li>[% q.name.replace('_', ' ') %]</li>
				[% END; END %]
			</ul>
			[% END %]
			</td>
			<td rowspan="[% rowspan %]" class="term">
			<label for="term-[% counter %]" class="acc">[% term.acc %]</label> : <a href="term-details.cgi?term=[% term.acc %]&amp;session_id=[% session_id %]&amp;" title="Click to view details of [% term.name %]" class="name">[% term.name %]</a>
[% assoc_text = "view associations";
	#IF gp_count_ok == 1;
		assoc_text = term.n_deep_products _ ' association';
		IF assoc_text != '1 association';
			assoc_text = assoc_text _ 's';
		END;
	#END
	%]
			 <a href="term-assoc.cgi?term=[% term.acc %]&amp;session_id=[% session_id %]" title="View gene product associations to [% term.name %]" class="assoc-link">[[% assoc_text %]]</a>
			</td>
			<td rowspan="[% rowspan %]" class="term">
				<a href="[% munger.get_GO_doc_url('ont', term.type) %]" title="[% term.type.replace('_',' ') %]; click to view documentation" class="type">
				[% term.type.replace('_',' ') %]
				</a>
			</td>
[% PROCESS assoc_table.tmpl;
	counter = counter + 1;
	END; END %]
