<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
[% css_dir = html_url _ '/css' %]
<link href="[% css_dir %]/formatting.css" rel="stylesheet" type="text/css">
<!--[if lte IE 8]>
<link href="[% css_dir %]/iefix.css" rel="stylesheet" type="text/css">
<![endif]-->
<script type="text/javascript" src="[% html_url %]/js/all.js"></script>
