<script type="text/javascript" src="[% html_url %]/js/all.js"></script>
<script type="text/javascript">
if (document.getElementById && document.getElementsByTagName) {
	document.write('<style type="text/css"> <!-- .toggleable { display: none } --> <\/style>');
	window.onload = initialize;
}
function initialize()
{	initResultsTable();
	xrefToggle();
}
</script>
