<input type="hidden" name="session_id" value="[% session_id %]">
[% title = 'Choose an action...';
	opt_name = 'action';
	options => [
			{ value => 'download', label => 'download association data for this species' },
			{ value => 'set-filter', label => 'filter by the selected species' },
			{ value => 'add-filter', label => 'add selected species to the current species filter' },
		]; %]
<label for="[% opt_name %]" class="inline">[% title %]</label> 
<select id="[% opt_name %]" name="[% opt_name %]">
	[% FOREACH poss = options; %]
	<option value="[% poss.value %]">[% poss.label %]</option>
	[% END %]
</select>

<input class="button" type="submit" value="Go!">
