<div class="block" id="tree">
	<h2>Subset terms</h2>
	<div class="filters">
		[% INCLUDE filter_browse.tmpl %]
	</div>
	[% INCLUDE treeview.tmpl %]
	<p class="toTop">
		<a href="#top" title="Back to the top of the page">Back to top</a> 
	</p>
</div>
