<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">postgres</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost/gold</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.default_schema">public</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <!-- Disable the second-level cache  -->
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- Echo all executed SQL to stdout -->
  <property name="show_sql">false</property>
  <property name="format_sql">false</property>
  <!-- Load up the basic GO Object Hibernate Mapping Files -->
  <mapping resource="org/geneontology/gold/hibernate/model/Cls.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/SubclassOf.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/DisjointWith.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/Ontology.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/ObjAlternateLabel.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/Relation.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/AllSomeRelationship.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/ObjXref.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/ObjDefinitionXref.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/EquivalentTo.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/ClsUnionOf.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/ClsIntersectionOf.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/InferredRelationship.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/InferredSubclassOf.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/InferredAllSomeRelationship.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/AllOnlyRelationship.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/AnnotationAssertion.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/AnnotationProperty.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/NeverSomeRelationship.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/ObjAlternateId.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/ObjSubset.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/OntologyAnnotation.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/OntologyImports.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/OntologySubset.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/RelationDisjointWith.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/RelationEquivalenTo.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/SubrelationOf.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/RelationChain.hbm.xml"/>
  <mapping resource="org/geneontology/gold/hibernate/model/OntologyAlternateLabelType.hbm.xml"/>

   <mapping resource="org/geneontology/gaf/hibernate/Bioentity.hbm.xml"/>
   <mapping resource="org/geneontology/gaf/hibernate/GeneAnnotation.hbm.xml"/>
   <mapping resource="org/geneontology/gaf/hibernate/CompositeQualifier.hbm.xml"/>
     <mapping resource="org/geneontology/gaf/hibernate/ExtensionExpression.hbm.xml"/>
     <mapping resource="org/geneontology/gaf/hibernate/GafDocument.hbm.xml"/>
     <mapping resource="org/geneontology/gaf/hibernate/WithInfo.hbm.xml"/>


  
 </session-factory>
</hibernate-configuration>
