<!-- START template: footer.tmpl -->

<div id="footer"><p>
    Last updated ??? [% # date %]<br />
    How can we improve AmiGO?
    <a href="http://www.geneontology.org/amigo/suggest.shtml"
       title="Send us your AmiGO suggestions">Send</a> us your
      suggestions!<br />
	
    Copyright &copy; 1999-2009
    <a href="http://www.geneontology.org/index.shtml"
       title="Gene Ontology home page">the Gene Ontology</a>
    &bull; 
    <a href="http://www.geneontology.org/GO.contacts.shtml"
       title="Contact GO">Contact GO</a>
  </p>		

</div>

<!-- END template: footer.tmpl -->
