<!-- START template: select.tmpl -->
<!--    id = "[% id %]"                         -->
<!--    variable = "[% variable %]"             -->
<!--    hash = "[% hash %]"                     -->
<!--    selected = "[% selected %]"             -->
<!--    catch_all = "[% catch_all %]"           --> 
<!--    size = "[% size %]"                     --> 
<!--    multiple = "[% multiple %]"             --> 
[% IF NOT id %]
[%    id = '' %]
[% END %]
<select id="[% id %]"
	[% IF multiple %]
	multiple="[% multiple %]"
	[% END %]
	name="[% variable %]"
	size="[% size %]">
  [% IF catch_all %]
  [%    IF ! selected %]
  <option value="" selected>[% catch_all %]</option>
  [%    ELSE %]
  <option value="">[% catch_all %]</option>
  [%    END %]
[% END %]
[% i = 0 %]
[% FOREACH item IN hash %]
   [% ikey = item.key %]
   [% IF ( i == 0 && ! selected && ! catch_all ) || selected.$ikey %]
   <option selected value="[% item.key %]">[% item.value %]</option>
   [% ELSE %]
   <option value="[% item.key %]">[% item.value %]</option>
   [% END %]
   [% i = i + 1 %]
[% END %]
</select>
<!-- END template: select.tmpl -->
